@charset "UTF-8";
.row::after {
  content: "";
  display: block;
  clear: both; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; }

.xj-header {
  box-sizing: border-box;
  width: 100%;
  height: 0.88rem;
  background: url(/Static/Imgs/XJ-img/head.png);
  background-size: cover; }
  .xj-header .xj-head {
    width: 100%;
    height: 100%;
    padding: 0 0.41rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(/Static/Imgs/XJ-img/head.png);
    background-size: cover; }
    .xj-header .xj-head li:nth-child(1) a {
      display: block;
      width: 0.45rem;
      height: 0.44rem;
      background: url(/Static/Imgs/XJ-img/back.png);
      background-size: cover; }
    .xj-header .xj-head li:nth-child(2) {
      color: #fff;
      font-size: 0.26rem; }
      .xj-header .xj-head li:nth-child(2) p:nth-child(2) {
        font-family:   "San Francisco", "Roboto", sans-serif;
        font-size: 0.17rem; }
    .xj-header .xj-head li:nth-child(3) a {
      display: block;
      width: 0.45rem;
      height: 0.44rem;
      background: url(/Static/Imgs/XJ-img/append.png);
      background-size: cover; }

.XJ-conllectbox {
  width: 100%;
  max-height: 11.65rem;
  margin-top: 0.3rem; }
  .XJ-conllectbox .conllect {
    width: 100%;
    height: 100%;
    padding: 0 0.25rem; }
    .XJ-conllectbox .conllect ul {
      width: 3.8rem;
      height: 0.55rem; }
      .XJ-conllectbox .conllect ul li:nth-child(1) {
        font-size: 0.3rem;
        color: #333333; }
      .XJ-conllectbox .conllect ul li:nth-child(2) {
        font-size: 0.25rem;
        color: #707070; }

.particulars {
  margin-top: 0.3rem;
  width: 100%;
  height: 0; }
  .particulars .first {
    width: 100%;
    height: 2.6rem;
    font-size: 0.24rem;
    color: #666666;
    line-height: 0.33rem; }
  .particulars .first_img {
    width: 100%;
    height: 3.48rem;
    background: url(/Static/Imgs/XJ-img/hotel.png);
    background-size: cover; }
  .particulars .second {
    margin-top: 0.15rem;
    width: 100%;
    height: 1.9rem;
    font-size: 0.24rem;
    color: #666666;
    line-height: 0.33rem; }
  .particulars .second_img {
    margin-top: 0.15rem;
    width: 100%;
    height: 1.72rem;
    background: url(/Static/Imgs/XJ-img/hotel.png);
    background-size: cover; }
