<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <?php include VIEW.'template/meat.html'?>
    <title>日志详情</title>

	<link rel="stylesheet" href="<?php echo CSS_PATH?>base.css">
	<link rel="stylesheet" href="<?php echo CSS_PATH?>XJ-css/Logdetails.css">
</head>
<body>
	<!--头部开始-->
<div class="xj-header">
    <ul class="xj-head">
        <li><a href="/index.php/log/Travellog"></a></li>
        <li>
            <p>日志详情</p>
            <p>TRAVELLOG</p>
        </li>
        <li><a href="/index.php/log/publish"></a></li>
    </ul>
</div>
<!--内容开始-->
<div class="XJ-conllectbox">
	<div class="conllect">
	<ul>
		<li>踏足这颗印度洋上的明珠</li>
		<li>Set foot on the India ocean pear</li>
	</ul>
	<div class="particulars">
	<p class='first'style="text-align:justify;line-height：0.5rem">
马尔代夫来的是clubmed的卡尼岛以为马尔代夫代表着奢华的房间豪华的享受昂贵的消费为了来这里好好的发呆这个旅程却告诉我原来马尔代夫有完全不同的玩法！湖吃海喝 任吃的自助餐走两步就一个酒吧任喝的酒类果汁想喝就叫上一杯晚上的G.O.秀笑得合不拢嘴zumba水上运动帆船出海浮潜.......一价全包毫无压力这次旅程我用“尽兴”来形容每天都玩得好开心好欢乐！这些都是我到步的时候意想不到的！你准备好开始跟我分享我这个尽兴的旅程了吗！？
	</p>
	<img src="/Static/Imgs/XJ-img/hotel.png" class="first_img"></img>
	<p class="second"style="text-align:justify;line-height：0.5rem">
		第二天我们起了个大早，在酒店的沙滩上等日出。在凯越酒店是看不到日落的，因为日落在岛的另一侧，金巴兰海滩、阿雅娜酒店那一侧，但这就意味着每天都可以在酒店沙滩看到日出～ 天气预报给出的时间是6:35左右，我们强撑着困意走去了沙滩，清新的空气和渐渐亮起的天空让我们马上清醒过来了酒店海滩上有三三两两的客人在等日出。
	</p>
	<img src="/Static/Imgs/XJ-img/hotel.png" class="second_img"></img>
	</div>
</div>
</div>
</body>
</html>
