<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title>我的日志</title>

		<link rel="stylesheet" href="<?php echo CSS_PATH?>base.css">
		<link rel="stylesheet" href="<?php echo CSS_PATH?>XJ-css/me.css">
	</head>
	<body>
		<div class="bigbox">
			<div class="xian"></div>
			<div class="yuanbox">
				
			</div>
			   
			
			<!--头部-->
			<div class="XJ-box">
			<div class="header">
				<ul>
					<li><a href="" class="back"></a></li>
				</ul>
			</div>
			<ul class="diary">
				<li>我的日志</li>
				<li>MY DIARY</li>
			</ul>
			
			</div>
			<div class="touxiang">
				<ul class="xiaoq">
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="firstdian">
				<ul class="zhou">
					<li></li>
				</ul>
				<ul class="time">
					<li>2017.03.03</li>
					<li>Friday</li>
					<li>星期五</li>
				</ul>
				<ul class="con">
					<li>探索神秘中土世界</li>
					<li>好牧人教堂下纯美星空，南十 字星在闪耀，旁边就是星云。</li>
				</ul>
			</div>
			<div class="twodian">
				<ul class="zhou">
					<li></li>
				</ul>
				<ul class="time">
					<li>2017.03.03</li>
					<li>Friday</li>
					<li>星期五</li>
				</ul>
				<ul class="con">
					<li>探索神秘中土世界</li>
					<li>好牧人教堂下纯美星空，南十 字星在闪耀，旁边就是星云。</li>
				</ul>
			</div>
			<div class="sandian">
				<ul class="zhou">
					<li></li>
				</ul>
				<div class="timebox">
				<ul class="stime">
					<li>2017.03.03</li>
					<li>Friday</li>
					<li>星期五</li>
				</ul>
				</div>
				<div class="conbox">
				<ul class="scon">
					<li>探索神秘中土世界</li>
					<li>好牧人教堂下纯美星空，南十 字星在闪耀，旁边就是星云。</li>
				</ul>
				</div>
			</div>
			<div class="fourdian">
				<ul class="zhou">
					<li></li>
				</ul>
				<div class="ftbox">
				<ul class="ftime">
					<li>2017.03.03</li>
					<li>Friday</li>
					<li>星期五</li>
				</ul>
				</div>
				<div class="fconbox">
				<ul class="fcon">
					<li>探索神秘中土世界</li>
					<li>好牧人教堂下纯美星空，南十 字星在闪耀，旁边就是星云。</li>
				</ul>
				</div>
			</div>
			<div class="fivedian">
				<ul class="zhou">
					<li></li>
				</ul>
				<ul class="time">
					<li>2017.03.03</li>
					<li>Friday</li>
					<li>星期五</li>
				</ul>
				<ul class="con">
					<li>探索神秘中土世界</li>
					<li>好牧人教堂下纯美星空，南十 字星在闪耀，旁边就是星云。</li>
				</ul>
			</div>
		</div>
	</body>
</html>
