<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>旅游日志</title>

    <link rel="stylesheet" href="/Static/css/base.css">
    <link rel="stylesheet" href="/Static/Css/footer.css">
    <link rel="stylesheet" href="/Static/css//XJ-css/Travellog.css">
</head>
<body>
<!--头部开始-->
<div class="xj-header">
    <ul class="xj-head">
        <li><a href=""></a></li>
        <li>
            <p>旅行日志</p>
            <p>TRAVEL LOG</p>
        </li>
        <li><a href="/log/publish"></a></li>
    </ul>
</div>
<!--内容-->
<div class="content-box">
<div class="XJ-content">
    <div class="content">
        <ul class="Top-content">
            <li class="one-img"></li>
            <li class="character">
                <h3>
                    <a href="/log/Logdetails">
                    背包客老迈欧洲旅行记—畅游布拉格金色城市
                </a>
                    。
                </h3>
                <h4>
                    提前半年开始利用闲暇之余做攻略，各种网站各种查，同事问身边去过的人，但是身边去过的人全是跟团，反应一般。
                </h4>
            </li>
        </ul>
        <div class="Down-content">
            <ul class="Left-content">
                <li class="Avatar"><a href=""></a></li>
                <li class="username">
                    Timetrees
                </li>
            </ul>
            <ul class="Right-content">
                <li class="love">
                    <p class="icon-praise"></p>
                    <p>1222</p>
                </li>

                <li class="collect">
                    <p class="iconfont icon-collect"></p>
                    <p>1222</p>
                </li>
                <li class="leave">
                    <p class="icon-socket"></p>
                    <p>1222</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <ul class="Top-content">
            <li class="one-img"></li>
            <li class="character">
                <h3>
                    <a href="/log/Logdetails">
                    小众、高端、舒爽的巴厘岛自由行，你值得拥有。
                    </a>
                </h3>
                <h4>
                    提前半年开始利用闲暇之余做攻略，各种网站各种查，同事问身边去过的人，但是身边去过的人全是跟团，反应一般。
                </h4>
            </li>
        </ul>
        <div class="Down-content">
            <ul class="Left-content">
                <li class="Avatar"><a href=""></a></li>
                <li class="username">
                    Timetrees
                </li>
            </ul>
            <ul class="Right-content">
                <li class="love">
                    <p class="icon-praise"></p>
                    <p>1222</p>
                </li>

                <li class="collect">
                    <p class="iconfont icon-collect"></p>
                    <p>1222</p>
                </li>
                <li class="leave">
                    <p class="icon-socket"></p>
                    <p>1222</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <ul class="Top-content">
            <li class="one-img"></li>
            <li class="character">
                <h3>
                    <a href="/log/Logdetails">
                    雾漫小东江，晨光中的诗画仙境，最好的记忆留在这里.
                    </a>
                </h3>
                <h4>
                    提前半年开始利用闲暇之余做攻略，各种网站各种查，同事问身边去过的人，但是身边去过的人全是跟团，反应一般。
                </h4>
            </li>
        </ul>
        <div class="Down-content">
            <ul class="Left-content">
                <li class="Avatar"><a href=""></a></li>
                <li class="username">
                    Timetrees
                </li>
            </ul>
            <ul class="Right-content">
                <li class="love">
                    <p class="icon-praise"></p>
                    <p>1222</p>
                </li>

                <li class="collect">
                    <p class="iconfont icon-collect"></p>
                    <p>1222</p>
                </li>
                <li class="leave">
                    <p class="icon-socket"></p>
                    <p>1222</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <ul class="Top-content">
            <li class="one-img"></li>
            <li class="character">
                <h3>
                    <a href="/log/Logdetails">
                    徒步寻梅里雪山脚下的那个世外桃源体验——雪崩村。
                    </a>
                </h3>
                <h4>
                    提前半年开始利用闲暇之余做攻略，各种网站各种查，同事问身边去过的人，但是身边去过的人全是跟团，反应一般。
                </h4>
            </li>
        </ul>
        <div class="Down-content">
            <ul class="Left-content">
                <li class="Avatar"><a href=""></a></li>
                <li class="username">
                    Timetrees
                </li>
            </ul>
            <ul class="Right-content">
                <li class="love">
                    <p class="icon-praise"></p>
                    <p>1222</p>
                </li>

                <li class="collect">
                    <p class="icon-collect"></p>
                    <p>1222</p>
                </li>
                
                <li class="leave">
                    <p class="icon-socket"></p>
                    <p>1222</p>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
<!--脚部-->
    <?php include VIEW."template/footer.html" ?>
</body>
</html>