<!--底部-->
<footer>
    <ul class="footer-list">
        <li class="footer-item">
            <a href="">
                <div class="footer-icon"></div>
            </a>
        </li>
        <li class="footer-item">
            <a href="">
                <div class="footer-icon"></div>
            </a>
        </li>
        <li class="footer-item news">

            <a href="">
                <div class="footer-icon">
                    <div class="news">3</div>
                </div>
            </a>
        </li>
        <li class="footer-item active">
            <a href="">
                <div class="footer-icon"></div>
            </a>
        </li>

    </ul>
</footer>