<!--底部-->
<footer>
    <ul class="footer-list">
        <li class="footer-item <?php echo $method==='index'?'active':''; ?>">
            <a href="/index">
                <div class="footer-icon"></div>
            </a>
        </li>
        <li class="footer-item <?php echo $method==='car'?'active':''; ?>">
            <a href="/car">
                <div class="footer-icon"></div>
            </a>
        </li>
        <li class="footer-item news <?php echo $method==='logdetails'?'active':''; ?>">
            <a href="/log/Travellog">
                <div class="footer-icon">
                    <div class="news">3</div>
                </div>
            </a>
        </li>
        <li class="footer-item <?php echo $method==='personal'?'active':''; ?>">
            <a href="/personal">
                <div class="footer-icon"></div>
            </a>
        </li>
    </ul>
</footer>
<style type="text/css">
footer {
    width: 100%;
    height: 0.98rem;
    display: flex;
    background: #282b2c;
    z-index: 999999;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer .footer-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    background: url(/Static/Imgs/footer-background.png) center/100% auto no-repeat;
}

footer .footer-list .footer-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-list .footer-icon {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    position: relative;
    border: 1px solid #2f333d;
    background: url(/Static/Imgs/footer-click.png) no-repeat 0rem 0rem/100%;
}

footer .footer-list .footer-item:nth-child(2) .footer-icon {
    background-position: 0 -0.85rem;
}

footer .footer-list .footer-item:nth-child(3) .footer-icon {
    background-position: 0 -1.7rem;
}

footer .footer-list .footer-item:nth-child(4) .footer-icon {
    background-position: 0 -2.55rem;
}

footer .footer-list .footer-item.active .footer-icon {
    background-image: url(/Static/Imgs/footer-active.png);
}

footer .footer-list .footer-item.news .footer-icon {
    position: relative;
}

footer .footer-list .footer-item.news .news {
    width: 0.22rem;
    height: 0.22rem;
    border-radius: 50%;
    border: 1px solid #fff;
    background: #2297f1;
    position: absolute;
    top: 1%;
    right: 0;
    color: #Fff;
    line-height: 0.22rem;
    text-align: center;
    font-size: 0.18rem;
}
</style>
