<!--底部-->
<footer>
    <ul class="footer-list">
        <li class="footer-item <?php echo $method==='index'?'active':''; ?>">
            <a href="/index">
                <div class="footer-icon"></div>
            </a>
        </li>
        <li class="footer-item <?php echo $method==='car'?'active':''; ?>">
            <a href="/car">
                <div class="footer-icon"></div>
            </a>
        </li>
        <li class="footer-item news <?php echo $method==='logdetails'?'active':''; ?>">

            <a href="/log/Travellog">
                <div class="footer-icon">
                    <div class="news">3</div>
                </div>
            </a>
        </li>
        <li class="footer-item <?php echo $method==='personal'?'active':''; ?>">
            <a href="/personal">
                <div class="footer-icon"></div>
            </a>
        </li>

    </ul>
</footer>