<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width
, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="complete attributes of css3">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add to homescreen for Safari on Ios -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#2396F0">
    <meta name="apple-mobile-web-app-title" content="心程">
    <link rel="apple-touch-icon" href="/logo.png">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="心程">
    <meta name="theme-color" content="#2396F0">
    <link rel="icon" sizes="50x50" href="/logo.png">
    <link rel="stylesheet" href="/Static/Css/base.css">
    <link rel="stylesheet" href="/Static/Css/animate.css">
    <script src="/Static/Js/jquery.min.js"></script>
    <script src="/Static/Js/jquery.lazyload.js"></script>
    <script src="/Static/Js/swiper-3.4.2.jquery.min.js"></script>
