<meta name="description" content="complete attributes of css3">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add to homescreen for Safari on Ios -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="心程">
<link rel="apple-touch-icon" href="/Static/Imgs/loginlog.png">
<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="心程">
<meta name="theme-color" content="#2F3BA2">
<link rel="icon" sizes="159x113" href="/Static/Imgs/loginlog.png">
