.order {
  width: 100%;
  height: 2.07rem;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding:0 0.24rem;
  color: #fff;
  font-size: 0.44rem;
  align-items: flex-start;
  background: url("/Static/Imgs/pay/bg2.png") no-repeat center/cover;
}
.order .return {
  background: url(/Static/Imgs/XJ-img/back.png)no-repeat center/0.44rem;
  width: .88rem;
  height: .88rem;
}
.order .text {
  text-align: center;
  font-size: 0; }
.order .text h2 {
  font-size: .26rem;
  line-height: .4rem; }
.order .text span {
  font-size: .17rem;
  line-height: .32rem;
  font-family: 'San Francisco', 'Roboto', sans-serif; }
.order .text .load {
  width: 1.2rem;
  height: .1rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
.order .text .load i {
  border-radius: 50%;
  display: inline-block; }
.order .text .load i:nth-of-type(1), .order .text .load i:nth-of-type(5) {
  background: #4DCA8F;
  width: .05rem;
  height: .05rem; }
.order .text .load i:nth-of-type(2), .order .text .load i:nth-of-type(4) {
  background: #63F2AA;
  width: .08rem;
  height: .08rem; }
.order .text .load i:nth-of-type(3) {
  width: .1rem;
  height: .1rem;
  background: #FCD125; }
.order .add {
  background: url(/Static/Imgs/XJ-img/append.png) no-repeat center/0.44rem;
  width: .88rem;
  height: .88rem;
}

body{
  overflow: hidden;
}

.back{
  width:100%;
  height:2.73rem;
  .back-list{
    width:100%;
    height:100%;
    position: relative;
    li{
      width:4.77rem;
      height:2.98rem;
      float:left;
      position: absolute;
      top: -0.66rem;
      //box-shadow: 5px 5px 10px #999;
      border-radius: 10px;
      background: url(/Static/Imgs/pay/back.png) no-repeat center/cover;
    }
    li:nth-child(1){
       left:-4.4rem;
      background-image:  url(/Static/Imgs/pay/back2.png);
    }
    li.active{
      transform: scale(1.12);
      left:0;
      right:0;
      margin:auto;
    }
    li:nth-child(3){
      background-image:  url(/Static/Imgs/pay/back1.png);
      right:-4.4rem;
    }
  }
}

main{
  width:100%;
  height:3.36rem;
  .main-list{
    width:100%;
    height:100%;
    display: flex;
    flex-flow: wrap column;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:0 1.15rem;
    li{
      width:100%;
      height:1.12rem;
      box-sizing: border-box;
      border-bottom: 1px solid #e5e5e5;
      position: relative;
      display: flex;
      align-items: flex-end;
      white-space: nowrap;
      text-overflow: ellipsis;
      &::after,&::before{
        content:'';
        width:3px;
        height:3px;
        position: absolute;
        bottom:-2px;
        background: #9d9c9c;
      }
      &::after{
        left:0;
      }
      &::before{
        right:0;
      }
      .main-item-left{
        width:1.74rem;
        height:auto;
        box-sizing: border-box;
        padding:0 0.08rem;
        overflow: hidden;

        h2{
          color:#666666;
          font-size: 0.28rem;
          display: block;
          position: relative;
          &::after{
            content:'';
            display: block;
            width:3px;
            height:3px;
            background:#38d3e1;
            position: absolute;
            top:60%;
            left:-0.08rem;
          }
        }
        h4{
          color:#aaaaaa;
          line-height: 2;
          font-size: 0.18rem;
          font-family: 'San Francisco', 'Roboto', sans-serif;
        }
      }
      .main-item-right{
        display: flex;
        flex: 1;
        justify-content:space-between;
        height:auto;
        color:#333333;
        font-size: 0.2rem;
        padding-bottom: 0.24rem;
        .main-info{
          width:0.69rem;
          height:0.24rem;
          margin-left: 0.1rem;
          background: #148bee;
          border-radius: 50px;
          font-size: 0.18rem;
          text-align: center;
          color:#fff;
          line-height: 0.24rem;
        }
      }
    }
  }
}

.bar-code{
  width:100%;
  height:1.15rem;
  display: flex;
  justify-content: center;
  margin-top:.45rem;
  .bar-code-img{
    width:5.6rem;
    height:100%;
    display: block;
    background:url(/Static/Imgs/pay/tiaoma.png) no-repeat center/cover;
  }

}

.button{
  width:100%;
  height:.96rem;
  display: flex;
  margin-top: 0.45rem;
  justify-content: center;
  .back-click{
    width:5.32rem;
    height:100%;
    background:url(/Static/Imgs/pay/back-button.png) no-repeat center/cover;
    display: block;
  }
}


