@charset "UTF-8";
.order {
  width: 100%;
  height: 2.07rem;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 0.24rem;
  color: #fff;
  font-size: 0.44rem;
  align-items: flex-start;
  background: url("/Static/Imgs/pay/bg2.png") no-repeat center/cover; }

.order .return {
  background: url(/Static/Imgs/XJ-img/back.png) no-repeat center/0.44rem;
  width: .88rem;
  height: .88rem; }

.order .text {
  text-align: center;
  font-size: 0; }

.order .text h2 {
  font-size: .26rem;
  line-height: .4rem; }

.order .text span {
  font-size: .17rem;
  line-height: .32rem;
  font-family: 'San Francisco', 'Roboto', sans-serif; }

.order .text .load {
  width: 1.2rem;
  height: .1rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.order .text .load i {
  border-radius: 50%;
  display: inline-block; }

.order .text .load i:nth-of-type(1), .order .text .load i:nth-of-type(5) {
  background: #4DCA8F;
  width: .05rem;
  height: .05rem; }

.order .text .load i:nth-of-type(2), .order .text .load i:nth-of-type(4) {
  background: #63F2AA;
  width: .08rem;
  height: .08rem; }

.order .text .load i:nth-of-type(3) {
  width: .1rem;
  height: .1rem;
  background: #FCD125; }

.order .add {
  background: url(/Static/Imgs/XJ-img/append.png) no-repeat center/0.44rem;
  width: .88rem;
  height: .88rem; }

body {
  overflow: hidden; }

.back {
  overflow: hidden;
  width: 100%;
  height: 3.33rem;
  position: relative;
  top: -0.66rem; }
  .back .back-list {
    width: 100%;
    height: auto;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .back .back-list li {
      width: 4.77rem;
      height: 2.98rem;
      margin-right: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      border-radius: 10px;
      position: relative;
      top: 0.2rem;
      background: no-repeat center/cover;
      transform: scale(0.9);
      -webkit-transform: scale(0.9); }
    .back .back-list li:nth-child(1) {
      background-image: url(/Static/Imgs/pay/back2.png); }
    .back .back-list li.swiper-slide-active {
      transform: scale(1.12);
      -webkit-transform: scale(1.12); }
    .back .back-list li.swiper-slide-next {
      transform: translateX(4%);
      -webkit-transform: translateX(4%); }
    .back .back-list li.swiper-slide-prev {
      transform: translateX(-5%);
      -webkit-transform: translateX(-5%); }
    .back .back-list li:nth-child(2) {
      background-image: url(/Static/Imgs/pay/back.png); }
    .back .back-list li:nth-child(3) {
      background-image: url(/Static/Imgs/pay/back1.png); }

main {
  width: 100%;
  height: 3.36rem; }
  main .main-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: wrap column;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1.15rem; }
    main .main-list li {
      width: 100%;
      height: 1.12rem;
      box-sizing: border-box;
      border-bottom: 1px solid #e5e5e5;
      position: relative;
      display: flex;
      align-items: flex-end;
      white-space: nowrap;
      text-overflow: ellipsis; }
      main .main-list li::after, main .main-list li::before {
        content: '';
        width: 3px;
        height: 3px;
        position: absolute;
        bottom: -2px;
        background: #9d9c9c; }
      main .main-list li::after {
        left: 0; }
      main .main-list li::before {
        right: 0; }
      main .main-list li .main-item-left {
        width: 1.74rem;
        height: auto;
        box-sizing: border-box;
        padding: 0 0.08rem;
        overflow: hidden; }
        main .main-list li .main-item-left h2 {
          color: #666666;
          font-size: 0.28rem;
          display: block;
          position: relative; }
          main .main-list li .main-item-left h2::after {
            content: '';
            display: block;
            width: 3px;
            height: 3px;
            background: #38d3e1;
            position: absolute;
            top: 60%;
            left: -0.08rem; }
        main .main-list li .main-item-left h4 {
          color: #aaaaaa;
          line-height: 2;
          font-size: 0.18rem;
          font-family: 'San Francisco', 'Roboto', sans-serif; }
      main .main-list li .main-item-right {
        display: flex;
        flex: 1;
        justify-content: space-between;
        height: auto;
        color: #333333;
        font-size: 0.2rem;
        padding-bottom: 0.24rem; }
        main .main-list li .main-item-right .main-info {
          width: 0.69rem;
          height: 0.24rem;
          margin-left: 0.1rem;
          background: #148bee;
          border-radius: 50px;
          font-size: 0.18rem;
          text-align: center;
          color: #fff;
          line-height: 0.24rem; }

.bar-code {
  width: 100%;
  height: 1.15rem;
  display: flex;
  justify-content: center;
  margin-top: .45rem; }
  .bar-code .bar-code-img {
    width: 5.6rem;
    height: 100%;
    display: block;
    background: url(/Static/Imgs/pay/tiaoma.png) no-repeat center/cover; }

.button {
  width: 100%;
  height: .96rem;
  display: flex;
  margin-top: 0.45rem;
  justify-content: center; }
  .button .back-click {
    width: 5.32rem;
    height: 100%;
    background: url(/Static/Imgs/pay/back-button.png) no-repeat center/cover;
    display: block; }
