.order {
  width: 100%;
  height: .88rem;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 0.24rem;
  color: #fff;
  font-size: 0.44rem;
  align-items: center;
  background: url("/Static/Imgs/pay/bg2.png") no-repeat center/cover; }

.order .return {
  background: url(/Static/Imgs/XJ-img/back.png) no-repeat center/0.44rem;
  width: .88rem;
  height: .88rem; }

.order .text {
  text-align: center;
  font-size: 0; }

.order .text h2 {
  font-size: .26rem;
  line-height: .4rem; }

.order .add {
  background: url(/Static/Imgs/XJ-img/append.png) no-repeat center/0.44rem;
  width: .88rem;
  height: .88rem; }

body {
  overflow: hidden; }

.back {
  width: 100%;
  height: 3.73rem; }
  .back .back-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; }
    .back .back-list li {
      width: 4.77rem;
      height: 2.98rem;
      float: left;
      position: absolute;
      border-radius: 10px;
      background: url(/Static/Imgs/pay/back.png) no-repeat center/cover; }
    .back .back-list li:nth-child(1) {
      left: -4.4rem;
      background-image: url(/Static/Imgs/pay/back2.png); }
    .back .back-list li.active {
      transform: scale(1.12);
      left: 0;
      right: 0;
      margin: auto; }
    .back .back-list li:nth-child(3) {
      background-image: url(/Static/Imgs/pay/back1.png);
      right: -4.4rem; }

.back-input {
  margin-top: 0.17rem;
  width: 100%;
  height: 1.23rem;
  box-sizing: border-box;
  padding: 0 0.31rem; }
  .back-input #password {
    display: flex;
    justify-content: space-around; }
  .back-input .pass {
    font-size: 40px;
    text-align: center;
    width: 0.89rem;
    height: 1.17rem;
    border-bottom: 6px solid #333;
    -webkit-tap-highlight-color: transparent;
    background: transparent; }

.key-title {
  width: 100%;
  height: 1.89rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column; }
  .key-title h1 {
    font-size: 0.36rem;
    color: #333; }
  .key-title p {
    font-size: 0.2rem;
    color: #666; }

.back-key {
  width: 100%;
  height: 5.06rem; }

#key {
  width: 100%;
  height: 100%;
  background: #636164; }

#keyboard li {
  float: left;
  margin: -1px 2px 2px -1px;
  width: 33%;
  height: 1.25rem;
  background: #89878a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column; }
  #keyboard li span {
    font-size: 0.5rem; }
  #keyboard li p {
    font-size: 0.2rem;
    line-height: 2; }

#keyboard .tab {
  width: 33%; }

#keyboard .cancle {
  width: 33%;
  background: #585359; }

#keyboard .delete {
  width: 33%;
  background: #585359; }

#keyboard li:hover {
  position: relative;
  top: 1px;
  left: 1px;
  z-index: 11;
  background: #A8A8A8;
  cursor: pointer; }
