@charset "UTF-8";
@import url(signed.css);
footer {
  width: 100%;
  height: 0.98rem;
  display: flex;
  background: #282b2c;
  position: fixed;
  left: 0;
  bottom: 0; }
  footer .footer-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    background: url(/Static/Imgs/footer-background.png) center/100% auto no-repeat; }
    footer .footer-list .footer-item {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center; }
    footer .footer-list .footer-icon {
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 50%;
      position: relative;
      border: 1px solid #2f333d;
      background: url(/Static/Imgs/footer-click.jpg) no-repeat -0.04rem -0.03rem/113%; }
    footer .footer-list .footer-item:nth-child(2) .footer-icon {
      background-position: -0.04rem -1rem; }
    footer .footer-list .footer-item:nth-child(3) .footer-icon {
      background-position: -0.04rem -1.98rem; }
    footer .footer-list .footer-item:nth-child(4) .footer-icon {
      background-position: -0.04rem -2.94rem; }
    footer .footer-list .footer-item.active .footer-icon {
      background-image: url(/Static/Imgs/footer-active.jpg); }
    footer .footer-list .footer-item.news .footer-icon {
      position: relative; }
    footer .footer-list .footer-item.news .news {
      width: 0.22rem;
      height: 0.22rem;
      border-radius: 50%;
      border: 1px solid #fff;
      background: #2297f1;
      position: absolute;
      top: 1%;
      right: 0;
      color: #Fff;
      line-height: 0.22rem;
      text-align: center;
      font-size: 0.18rem; }

.nav {
  width: 100%;
  height: 0.46rem;
  box-sizing: border-box;
  padding: 0 0.42rem;
  display: flex;
  margin-top: 2px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 12; }
  .nav .calendar, .nav .set {
    width: 0.46rem;
    height: 0.46rem;
    background: #f02987 url(/Static/Imgs/cir.png) no-repeat center/0.46rem;
    border-radius: 50%;
    text-align: center;
    line-height: 0.46rem;
    color: #fff;
    font-size: 0.24rem; }

#check {
  display: none; }

#check:checked ~ .bg {
  display: flex;
  opacity: 1; }

.banner {
  width: 100%;
  height: 3.64rem;
  display: flex;
  align-items: flex-end; }
  .banner .background {
    width: 100%;
    height: 4.73rem;
    background: #2297f1;
    border-radius: 0 0 15% 15%;
    z-index: -1;
    position: absolute;
    top: 0;
    overflow: hidden; }
    .banner .background img {
      width: 100%;
      height: 100%; }
  .banner .banner-con {
    width: 100%;
    height: 3.18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap column;
    padding: 0 0.24rem;
    box-sizing: border-box;
    line-height: 1.5; }
    .banner .banner-con .avatar {
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      border: 0.05rem solid  #fff;
      position: relative;
      margin-bottom: 0.06rem; }
      .banner .banner-con .avatar a {
        width: 100%;
        height: 100%;
        display: block; }
        .banner .banner-con .avatar a img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          display: block; }
    .banner .banner-con .quality {
      width: auto;
      height: 0.2rem;
      font-size: 0.2rem; }
    .banner .banner-con .name a {
      font-size: 0.28rem;
      font-weight: bold; }
    .banner .banner-con .info > a {
      font-size: 0.2rem; }
    .banner .banner-con .quality ul {
      display: flex; }
      .banner .banner-con .quality ul li {
        width: 0.18rem;
        height: 0.18rem;
        background: url(/Static/Imgs/h-xing.png) center/cover no-repeat; }
    .banner .banner-con .avatar .set-img {
      width: 0.34rem;
      height: 0.34rem;
      position: absolute;
      background: #2297f1;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      color: #fff;
      font-size: 0.14rem;
      text-align: center;
      line-height: 0.34rem; }

body {
  height: 100%; }

.main-item-left .main-item-info p {
  color: #666666; }

.main-item-left .main-item-info h3 {
  color: #333333; }

.banner .banner-con .name a, .banner .banner-con .info > a {
  color: #fff; }

.row::after {
  content: '';
  display: block;
  clear: both; }

main {
  width: 100%;
  height: 8.3rem;
  display: flex;
  justify-content: center; }
  main .main-con {
    width: calc(100% - 0.28rem);
    height: 100%;
    background: white;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0.28rem 0;
    border-radius: 8px;
    box-shadow: 0 0 8px #999; }
  main .main-list {
    display: flex;
    flex-flow: wrap column; }

.main-item {
  width: 100%;
  height: 0.94rem;
  box-sizing: border-box;
  border-bottom: 1px solid #d9d9d9;
  padding: 0.25rem 0.18rem 0.17rem; }
  .main-item a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.main-item-left {
  width: 50%;
  height: 100%;
  display: flex;
  color: #fff; }
  .main-item-left .main-item-img {
    width: 0.5rem;
    height: 100%;
    border-radius: 50%;
    margin-right: 0.2rem;
    line-height: 1.7;
    text-align: center;
    font-size: 0.30rem; }
  .main-item-left .main-item-info {
    flex: 1; }
    .main-item-left .main-item-info h3 {
      font-size: 0.24rem;
      line-height: 1.5; }
    .main-item-left .main-item-info p {
      font-size: 0.16rem;
      font-variant: small-caps;
      font-family:   "San Francisco", "Roboto", sans-serif; }
  .main-item-left .friend {
    background: #38d3e1; }
  .main-item-left .syslog {
    background: #ffd61b; }
  .main-item-left .card {
    background: #ff0e0e; }
  .main-item-left .coupon {
    background: #ff6908;
    font-size: 0.24rem;
    line-height: 2.2; }
  .main-item-left .clock {
    background: #f02987; }

.main-item-right {
  width: 1.08rem;
  height: 0.2rem;
  display: flex; }
  .main-item-right .bubble {
    width: 0.5rem;
    height: 100%;
    padding: 0 0.07rem; }
    .main-item-right .bubble span {
      width: 100%;
      height: 100%;
      display: block;
      color: #fff;
      border-radius: 50px;
      text-align: center;
      background: #f02987;
      font-size: 0.18rem; }
  .main-item-right .relate {
    transform: rotate(180deg);
    width: 0.43rem;
    height: 100%;
    font-size: 0.19rem;
    text-align: right; }
