#banner .background > img {
  display: none; }

#banner .banner-con .avatar a {
  display: none; }

#banner .banner-con .avatar div.set-img {
  display: none; }

#banner .banner-con .quality {
  display: none; }

#banner .banner-con .info {
  display: none; }
