<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/Static/Css/base.css">
    <link rel="stylesheet" href="/Static/Css/indexcss/heatSpots.css">
</head>
<body>
    <?php include VIEW.'template/header.html'?>
    <div class="container">
        <div class="inner-width">
        <ul class="row">
            <li class="items"><a href="">
                <div class="text">
                    <h3>旅游胜地爱情海</h3>
                    <h5><span>TOURISM DESTINATION </span><span>LOVE THE SEA</span></h5>
                    <div class="tips"></div>
                    <h4>圣托里尼感受最美爱情海</h4>
                </div>
            </a></li>
            <li class="items"><a href="">
                <div class="text">
                    <h3>海南天涯海角</h3>
                    <h5><span>THE END OF THE EARTH </span><span>IN HAINAN</span></h5>
                    <div class="tips"></div>
                    <h4>节假日旅行的大热之选</h4>
                </div>
            </a></li>
            <li class="items"><a href="">
                <div class="text">
                <h3>海南蜈支洲岛</h3>
                <h5><span>HAINAN WUZHIZHON </span><span>ISLAND</span></h5>
                <div class="tips"></div>
                <h4>自助旅的热线古色的街道</h4>
                </div>
            </a></li>
            <li class="items"><a href="">
                <div class="text">
                <h3>旅游胜地蝴蝶泉</h3>
                <h5><span>TOURISM DESTINATION </span><span>BUTERFLY SPRING</span></h5>
                <div class="tips"></div>
                <h4>自助旅的热线古色的街道</h4>
                </div>
            </a></li>
        </ul>
        </div>
    </div>
    <?php include VIEW.'template/footer.html'?>
</body>
</html>