<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/Static/Css/base.css">
    <link rel="stylesheet" href="/Static/Css/indexcss/heatPlay.css">
</head>
<body>
    <header>
        <a href="" onclick=" window.history.back()"; class="<?php echo isset($icon_l)?'return icon-return':'';?>" style="width:.6rem;height: .6rem"></a>
        <div class="text">
            <h2><?php echo $header_t?></h2>
            <span><?php echo $header_d?></span>
        </div>
        <div class="<?php echo isset($icon_r)?'icon-share':''?>" style="width:.6rem;height: .6rem">
        </div>
    </header>
    <section class="container">
        <div class="main">
            <a href="/index.php/index/heatPlay_details" class="show-pic"></a>
            <a href="/index.php/index/heatPlay_details" class="show-pic"></a>
            <div class="show-pic"></div>
            <div class="show-pic"></div>
            <div class="description">
                <div class="title"><h3>威尼斯</h3><ul class="star-level"><li></li><li></li><li></li></ul></div>
                <h4 class="english-title">Beauty of Venice</h4>
                <text>提前半年开始利用闲暇之余做攻略，各种网站各种查，同事问身边去过的人，但是身边去过的人全是跟团，反应一般。</text>
            </div>
            <div class="operation">
                <div class="item"><a href="#" class="icon-praise"></a><span>1230</span></div>
                <div class="item"><a href="#" class="icon-collect"></a><span>1230</span></div>
                <div class="item"><a href="#" class="icon-news"></a><span>1230</span></div>
            </div>
        </div>
        <a href="#" class="purchase">
            <div class="dot"></div>
            <h2>立即购买</h2>
            <div class="dot"></div>
        </a>
    </section>
</body>
</html>