<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/Static/Css/base.css">
    <link rel="stylesheet" href="/Static/Css/indexcss/djrw.css">
</head>
<body>
    <header class="header">
        <a href="#" class="return icon-return"></a>
        <h3>当季热玩</h3>
        <a href="" class="share icon-share"></a>
    </header>
    <section class="container">
        <a href="#" class="purchase">
            <div class="dot"></div>
            <h2>立即购买</h2>
            <div class="dot"></div>
        </a>
    </section>
</body>
</html>