<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/Static/Css/base.css">
    <link rel="stylesheet" href="/Static/Css/indexcss/heatPlay_details.css">
</head>
<body>
    <?php include VIEW."template/header.html";?>
    <section class="picture-show">
        <ul class="row">
            <li class="item"></li>
            <li class="item"></li>
            <li class="item"></li>
        </ul>
    </section>
    <section class="introduce">
        <div class="inner-width">
            <h3>威尼斯</h3>
            <h4>Beauty of Vinice</h4>
            <text>威尼斯(Vinice)是意大利东北部著名的旅游和工业城市，也是威尼托地区的首府。威尼斯曾经是威尼斯共和国的中心，被称作亚得里亚海明珠，十字军进行十字军东征时也曾在这里集结而且也是13世纪至17世纪末一个非常重要的商业艺术重镇，堪称世界最浪漫的城市之一。</text>
        </div>
    </section>
    <section class="mass">
        <div class="inner-width">
            <p class="rmb"><span>RMB: </span><span>￥5888</span></p>
            <p class="date">
                <span>出行的日期</span>
                <span id="date">
                    <span>11.9</span><span>11.10</span><span>11.11</span>
                </span>
            </p>
            <p class="venue">
                <span>集合地点</span>
                <span id="venue">
                    <span>北京</span><span>天津</span>
                </span>
            </p>
            <p class="destination">
                <span>目的地</span>
                <span id="destination">
                    <span>太原</span>
                </span>
            </p>
            <p class="number">
                <span>出行人数</span>
                <span id="number">
                    <span>
                        <input type="button" value="-" class="reduce">
                        <input type="text" placeholder="0" value="">
                        <input type="button" value="+" class="increase">
                    </span>
                </span>
            </p>
        </div>
    </section>
    <footer>
        <a href="#" class="cart">
            <span class="icon-shopping"></span>
            <span><p>加入购物车</p><p>Shopping cart</p></span>
        </a>
        <a href="" class="purchase">
            <p>立即购买</p>
            <p>Buy now</p>
        </a>
    </footer>
</body>
</html>