<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <?php include VIEW.'template/meat.html'?>
    <title>Document</title>
    <link rel="stylesheet" href="/Static/Css/base.css">
    <link rel="stylesheet" href="/Static/Css/indexcss/heatSpots.css">
</head>
<body>
    <?php include VIEW.'template/header.html'?>
    <div class="container">
        <div class="inner-width">
        <ul class="row">
            <li class="items"><a href="/index.php/index/heatPlay_details?sign=heatSpots">
                <div class="text">
                    <h2>旅游胜地爱情海</h2>
                    <p class="english"><b>TOURISM DESTINATION </b>LOVE THE SEA</p>
                    <div class="tips"></div>
                    <p class="overview">圣托里尼感受最美爱情海</p>
                </div>
            </a></li>
            <li class="items"><a href="/index.php/index/heatPlay_details?sign=heatSpots">
                <div class="text">
                    <h2>海南天涯海角</h2>
                    <p class="english"><b>THE END OF THE EARTH </b>IN HAINAN</p>
                    <div class="tips"></div>
                    <p class="overview">节假日旅行的大热之选</p>
                </div>
            </a></li>
            <li class="items"><a href="/index.php/index/heatPlay_details?sign=heatSpots">
                <div class="text">
                <h2>海南蜈支洲岛</h2>
                <p class="english"><b>HAINAN WUZHIZHON </b>ISLAND</p>
                <div class="tips"></div>
                <p class="overview">自助旅的热线古色的街道</p>
                </div>
            </a></li>
            <li class="items"><a href="/index.php/index/heatPlay_details?sign=heatSpots">
                <div class="text">
                <h2>旅游胜地蝴蝶泉</h2>
                <p class="english"><b>TOURISM DESTINATION </b>BUTERFLY SPRING</p>
                <div class="tips"></div>
                <p class="overview">自助旅的热线古色的街道</p>
                </div>
            </a></li>
        </ul>
        </div>
    </div>
    <?php include VIEW.'template/footer.html'?>
</body>
</html>