<!doctype html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" href="/Static/Css/base.css">
	<link rel="stylesheet" href="/Static/Css/footer.css">
	<link rel="stylesheet" href="/Static/Css/indexcss/index.css">
</head>
<body>
	<div class="header">
		<div class="inner">
			<div><a class="space" href="/index.php/login/index"></a></div>
			<div class="search">
				<div class="searchyi"></div>
                <input type="text" placeholder="搜索目的地 攻略 景点 酒店等">
			</div>
			<div class="newss"><a href=""></a></div>
		</div>
		
	</div>
	<div class="banner">
		<img src="/Static/Imgs/indeximgs/banner1.png" alt="">
		<ul class="btn">
			<li class="hot"></li>
			<li></li>
			<li></li>	
		</ul>
	</div>
	<a class="djrw" href="/index.php/index/heatPlay"></a>
	<div class="zurich">
		<div class="inner">
			<a class="sls"href="/index.php/index/heatPlay_details"></a>
		</div>
	</div>
	<div class="eiffel">
		<div class="inner">
			<a class="afe"href="/index.php/index/heatPlay_details"></a>
		</div>
	</div>
	<a class="attractions" href="/index.php/index/heatSpots"></a>
	<div class="scenic">
		<div class="inner">
			<div class="page">
				<a class="item" href="/index.php/index/heatPlay_details">
					<img class="sport" src="/Static/Imgs/indeximgs/jd1.png">
					<div class="text">
						<h3><i>感受北方威尼斯之美</i></h3>
						<h5><b>BEAUTY</b> OF VENICE</h5>
						<ul class="option">
							<li>一价全含</li>
							<li>往返直飞</li>
							<li>船游维港</li>
						</ul>
						<ul class="duty">
							<li class="money"><i>RMB:</i>1655</li>
							<li class="eye">
							<i class="icon-eye"></i>1256</li>
							<li class="xinxi"><i class="icon-xiaoxi"></i>2017</li>
						</ul>
					</div>
				</a>
				<a class="item" href="/index.php/index/heatPlay_details">
					<img class="sport1" src="/Static/Imgs/indeximgs/jd2.png">
					<div class="text">
						<h3><i>感受北方威尼斯之美</i></h3>
						<h5><b>BEAUTY</b> OF VENICE</h5>
						<ul class="option">
							<li>一价全含</li>
							<li>往返直飞</li>
							<li>船游维港</li>
						</ul>
						<ul class="duty">
							<li class="money"><i>RMB:</i>1756</li>
							<li class="eye">
							<i class="icon-eye"></i>1256</li>
							<li class="xinxi"><i class="icon-xiaoxi"></i>2017</li>
						</ul>
					</div>
				</a>
				<a class="item" href="/index.php/index/heatPlay_details">
					<img class="sport2" src="/Static/Imgs/indeximgs/jd3.png">
					<div class="text">
						<h3><i>感受北方威尼斯之美</i></h3>
						<h5><b>BEAUTY</b> OF VENICE</h5>
						<ul class="option">
							<li>一价全含</li>
							<li>往返直飞</li>
							<li>船游维港</li>
						</ul>
						<ul class="duty">
							<li class="money"><i>RMB:</i>1600</li>
							<li class="eye">
							<i class="icon-eye"></i>1256</li>
							<li class="xinxi"><i class="icon-xiaoxi"></i>2017</li>
						</ul>
					</div>
				</a>
				<a class="item" href="/index.php/index/heatPlay_details">
					<img class="sport3" src="/Static/Imgs/indeximgs/jd4.png">
					<div class="text">
						<h3><i>感受北方威尼斯之美</i></h3>
						<h5><b>BEAUTY</b> OF VENICE</h5>
						<ul class="option">	
							<li>一价全含</li>
							<li>往返直飞</li>
							<li>船游维港</li>
						</ul>
						<ul class="duty">
							<li class="money"><i>RMB:</i>1225</li>
							<li class="eye">
								<i class="icon-eye"></i>1256</li>
							<li class="xinxi"><i class="icon-xiaoxi"></i>2017</li>
						</ul>
					</div>
				</a>
			</div>
		</div>
	</div>
	<a class="travel" href="/index.php/index/logdetails"></a>
	<section class="picture-show">
        <ul class="row">
            <li class="item">
            	<div class="zhezhao1">
            		<div class="kew"></div>
            		<div class="kew"></div>
            		<div class="kew"></div>
            		<div class="kew"></div>
            		<div class="klp">
            			<h3>
            				<b>科伦坡城市游记</b></h3>
            			<span><b>COLOMBO</b>  CITY TRAVEL</span>
            		</div>
            		<div class="zuobiao"><i class="icon-location"></i>科伦坡</div>
            		<div class="zzdbu">
	            		<div><i class="icon-praise"></i>5478</div>
	            		<div><i class="icon-collect"></i>1256</div>
	            		<div><i class="icon-xiaoxi"></i>3569</div>
	            	</div>
            	</div>
            </li>
            <li class="item big">
            	<div class="zhezhao">
            		<div class="kew"></div>
            		<div class="kew"></div>
            		<div class="kew"></div>
            		<div class="kew"></div>
            		<div class="klp">
            			<h3>
            				<b>科伦坡城市游记</b></h3>
            			<span><b>COLOMBO</b>  CITY TRAVEL</span>
            		</div>
            		<div class="zuobiao"><i class="icon-location"></i>科伦坡</div>
            		<div class="zzdbu">
	            		<div><i class="icon-praise"></i>5478</div>
	            		<div><i class="icon-collect"></i>1256</div>
	            		<div><i class="icon-xiaoxi"></i>3569</div>
	            	</div>
            	</div>
				
            </li>
            <li class="item">
            	<div class="zhezhao2">
            		<div class="kew"></div>
            		<div class="kew"></div>
            		<div class="kew"></div>
            		<div class="kew"></div>
            		<div class="klp">
            			<h3>
            				<b>科伦坡城市游记</b></h3>
            			<span><b>COLOMBO</b>  CITY TRAVEL</span>
            		</div>
            		<div class="zuobiao"><i class="icon-location"></i>科伦坡</div>
            		<div class="zzdbu">
	            		<div><i class="icon-praise"></i>5478</div>
	            		<div><i class="icon-collect"></i>1256</div>
	            		<div><i class="icon-xiaoxi"></i>3569</div>
	            	</div>
            	</div>
            </li>
        </ul>
    </section>
	<a class="raiders" href="/index.php/index/travel"></a>
	<div class="raiders-list">
		<div class="inner">
			<div class="present">
				<div class="present-lf">
					<img src="/Static/Imgs/indeximgs/gl1.png" alt="">
					<div class="dian"></div>
				</div>
				<div class="present-rg">
					<div class="present-rgtop">
						<h3>味蕾之都的冰火双体验</h3>
						<ul class="stars">
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>
					<span>THE TASTE <i>BUDS ARE DOUBLE EXPERIENCE</i></span>
					<p>山城重庆，有着麻的顺辣的爽的火锅美食和景点都在吸引着你。</p>
					<div class="visit-bm">
						<div class="visit">
							<a class="visitor" href="">
								<img src="/Static/Imgs/indeximgs/visitor1.png" alt="">
							</a>
							<a class="visitor" href="">
								<img src="/Static/Imgs/indeximgs/visitor2.png" alt="">
							</a>
							<a class="visitor" href="">
								<img src="/Static/Imgs/indeximgs/visitor3.png" alt="">
							</a>
							<a class="visitor" href="">
								<img src="/Static/Imgs/indeximgs/visitor4.png" alt="">
							</a>	
						</div>
						<div class="number"><i>578</i></div>
						<div class="share "><i class="icon-share-1"></i>7152次
						</div>
					</div>
					
				</div>
			</div>

		</div>
		
	</div>
	<div class="raiders-list1">
		<div class="inner">
			<div class="present">

				<div class="present-lf">
					<img src="/Static/Imgs/indeximgs/gl2.png" alt="">
					<div class="dian"></div>
				</div>
				<div class="present-rg">
					<div class="present-rgtop">
						<h3>味蕾之都的冰火双体验</h3>
						<ul class="stars">
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>
					<span>THE TASTE <i>BUDS ARE DOUBLE EXPERIENCE</i></span>
					<p>山城重庆，有着麻的顺辣的爽的火锅美食和景点都在吸引着你。</p>
					<div class="visit-bm">
						<div class="visit">
							<a class="visitor" href="">
								<img src="/Static/Imgs/indeximgs/visitor1.png" alt="">
							</a>
							<a class="visitor" href="">
								<img src="/Static/Imgs/indeximgs/visitor2.png" alt="">
							</a>
							<a class="visitor" href="">
								<img src="/Static/Imgs/indeximgs/visitor3.png" alt="">
							</a>
							<a class="visitor" href="">
								<img src="/Static/Imgs/indeximgs/visitor4.png" alt="">
							</a>
							
						</div>
						<div class="number"><i>578</i></div>
						<div class="share "><i class="icon-share-1"></i>7152次
						</div>
					</div>
					
				</div>
			</div>

		</div>
		
	</div>
	<?php include VIEW."template/footer.html" ?>
</body>
</html>