<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>个人日志</title>

    <link rel="stylesheet" href="/Static/Css/base.css">
    <link rel="stylesheet" href="/Static/Css//XJ-css/Personaljournal.css">
</head>
	<body>
		<div class='XJ-bigbox'>
			<!--头部-->
			<div class="XJ-haeder-box">
			   <div class="head">
				<ul class="headnavigation">
					<li><a href="#" class="back"></a></li>
					<li><a href="#" class="share"></a></li>
				</ul>
				<div class="recognition-box">
				<ul class="recognition">
					<li class='recognition-top'>
						<p></p>
						<p></p>
					</li>
					<li class="recognition-star">
						<p></p>
						<p></p>
						<p></p>
					</li>
					<li class='recognition-below'>
						<h4>Mordilattetravel</h4>
						<h4>纵有疾风起，人生不言弃</h4>
					</li>
				</ul>
				</div>
			</div>
			</div>
			<!--内容-->
			<div class="XJ-collentbox">
			<div class="XJ-collent">
				<div class="collent">
			<div class="topbox">
				<ul class="collent-top">
					<li class="dian">
						<p></p>
						<p></p>
					</li>
					<li class="RECENT">
						RECENT DYNAMIC
					</li>
					<li class="gun">
						<p></p>
						<p></p>
					</li>
					<li class="characterbox">
						<p class="character">最</p>
						<p class="interval"></p>
						<p class="character">新</p>
						<p class="interval"></p>
						<p class="character">动</p>
						<p class="interval"></p>
						<p class="character">态</p>
					</li>
				</ul>
				</div>
				<div class="listsbox">
				<div class="lists">
					<ul class="list">
						<li class="img"></li>
						<li class="right">
							<span>
							<h3>乌镇、不仅仅是风景更是一种心情</h3>
							<p class="">................</p>
							<h4>BALI LSLAND FREEDON</h4>
							<p class="sun">这里是个阳光普照的度假胜地而且还有很多田园农舍。</p>
							</span>
							<span class="iconbox">
							<p class="icon">
								<p class="icon-praise"></p>
								<i>3333</i>
							</p>
							<p class="icon">
								<p  class="iconfont icon-collect"></p>
								<i>2333</i>
							</p>
							<p class="icon">
								<p class="icon-socket"></p>
								<i>2333</i>
							</p>
							</span>
						</li>
					</ul>
				</div>
								<div class="lists">
					<ul class="list">
						<li class="img"></li>
						<li class="right">
							<span>
							<h3>乌镇、不仅仅是风景更是一种心情</h3>
							<p class="">................</p>
							<h4>BALI LSLAND FREEDON</h4>
							<p class="sun">这里是个阳光普照的度假胜地而且还有很多田园农舍。</p>
							</span>
							<span class="iconbox">
							<p class="icon">
								<p class="icon-praise"></p>
								<i>3333</i>
							</p>
							<p class="icon">
								<p  class="iconfont icon-collect"></p>
								<i>2333</i>
							</p>
							<p class="icon">
								<p class="icon-socket"></p>
								<i>2333</i>
							</p>
							</span>
						</li>
					</ul>
				</div>
								<div class="lists">
					<ul class="list">
						<li class="img"></li>
						<li class="right">
							<span>
							<h3>乌镇、不仅仅是风景更是一种心情</h3>
							<p class="">................</p>
							<h4>BALI LSLAND FREEDON</h4>
							<p class="sun">这里是个阳光普照的度假胜地而且还有很多田园农舍。</p>
							</span>
							<span class="iconbox">
							<p class="icon">
								<p class="icon-praise"></p>
								<i>3333</i>
							</p>
							<p class="icon">
								<p  class="iconfont icon-collect"></p>
								<i>2333</i>
							</p>
							<p class="icon">
								<p class="icon-socket"></p>
								<i>2333</i>
							</p>
							</span>
						</li>
					</ul>
				</div>
				</div>
				</div>
			</div>
		 </div>
		</div>
		<!--脚部-->
		<div class="XJ-foot">
			<div class="privatechat"></div>
		</div>
	</body>
</html>
