<!doctype html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/Static/Css/base.css">
	<link rel="stylesheet" href="/Static/Css/indexcss/searchone.css">
</head>
<body>
	<header>
		<div class="inner">
	        <div class="return icon-return"></div>
	        <div class="text">
	            <h2>搜索</h2>
	            <span>Search</span>
	        </div>
    	</div>	
    </header>
    <nav>
	    <div class="inner">  
	    	<div class="search1">
	    	
				<div class="icon-search1"></div>
	        	<input type="text" placeholder="英" style="text-align:left">
	        	<div class="icon-voice"></div>
	        </div>
		</div>
	</nav>
	<div class="britain">
		<div class="inner">
			<ul>
				<li>
					<span class="ziti">
					<i class="icon-search1"></i><b>英国</b>欧洲</span>
					<span class="icon-fanhui"></span>
				</li>
				<li>
					<span class="ziti">
					<i class="icon-search1"></i><b>英格兰</b>英国</span>
					<span class="icon-fanhui"></span>
				</li>
				<li>
					<span class="ziti">
					<i class="icon-search1"></i><b>英德</b>广东</span>
					<span class="icon-fanhui"></span>
				</li>
				<li>
					<span class="ziti">
					<i class="icon-search1"></i><b>英格堡</b>瑞士</span>
					<span class="icon-fanhui"></span>
				</li>
				<li>
					<span class="ziti">
					<i class="icon-search1"></i><b>英阳郡</b>韩国</span>
					<span class="icon-fanhui"></span>
				</li>
				<li>
					<span class="ziti">
					<i class="icon-search1"></i><b>英格尔顿</b>英国</span>
					<span class="icon-fanhui"></span>
				</li>
				<li class="last">
					<span>搜索关于“<i>英</i>”的更多结果</span>
				</li>
			</ul>

			
		</div>
	</div>
	<div class="contion2">
		<div class="inner">
			<div class="history">
				<h3>相关推荐</h3>
				<span>Related recommend</span>
			</div>
		</div>
	</div>
	<div class="groom3">
		<div class="inner">
			<div class="present1">
				
				<div class="present-lf1">
					<img src="/Static/Imgs/indeximgs/city.png" alt="">
					<div class="hqc">
						<span class="icon-location"></span>
						<span class="juli">
							<p>754km</p>
							<p>华侨城</p>
						</span>
					</div>
				</div>
				<div class="present-rg">
					<h3>深圳东部华侨城</h3>
					<h5>Eastern overseas town </h5>
					<p>东部华侨城是国内首个集体休闲度假、观光旅游户外运动等主体于一体的大型综合性国家生态旅游示范区。</p>	
				</div>
				<div class="burst"></div>
			</div>

		</div>
		
	</div>
	<div class="groomm">
		<div class="inner">
			<div class="present1">
				
				<div class="present-lf1">
					<img src="/Static/Imgs/indeximgs/city.png" alt="">
					<div class="hqc">
						<span class="icon-location"></span>
						<span class="juli">
							<p>754km</p>
							<p>华侨城</p>
						</span>
					</div>
				</div>
				<div class="present-rg">
					<h3>深圳东部华侨城</h3>
					<h5>Eastern overseas town </h5>
					<p>东部华侨城是国内首个集体休闲度假、观光旅游户外运动等主体于一体的大型综合性国家生态旅游示范区。</p>	
				</div>
				<div class="burst"></div>
			</div>

		</div>
		
	</div>


	
</body>
</html>