<!doctype html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta charset="UTF-8">
	<title>Document</title>
	   <?php include VIEW.'template/meat.html'?>
	<link rel="stylesheet" href="/Static/Css/base.css">
	<link rel="stylesheet" href="/Static/Css/indexcss/searchone.css">
</head>
<body>
	<header>
		<div class="inner">
	        <div class="return icon-return"></div>
	        <div class="text">
	            <h2>搜索</h2>
	            <span>Search</span>
	        </div>
    	</div>	
    </header>
    <nav>
	    <div class="inner">  
	    	<div class="search1">
				<div class="icon-search1"></div>
	        	<input type="text" placeholder="英镇" style="text-align:left">
	        	<div class="icon-voice"></div>
	        </div>
		</div>
	</nav>
	<div class="fail-nav">
		<div class="inner">
			<div class="fail-con">
				<img src="/Static/Imgs/indeximgs/fail.png" alt="">
				<div class="relevant">
					<p>没有搜索到相关信息</p>
					<p class="yingwen">No search for relevant information</p>
				</div>
			</div>
		</div>
	</div>
	<div class="contion2">
		<div class="inner">
			<div class="history">
				<h3>相关推荐</h3>
				<span>Related recommend</span>
			</div>
		</div>
	</div>
	<div class="chengshi">
		<div class="inner">
			<ul class="city-list">
				<li class="hk">英格尔顿</li>
				<li class="hainan">中英街</li>
				<li class="chengdu">英格堡</li>	
			</ul>
		</div>
	</div>
	<div class="contion1">
		<div class="inner">
			<div class="history">
				<h3>猜你喜欢</h3>
				<span>Guess you like</span>
			</div>
		</div>
	</div>
	<div class="guess">
		<div class="inner">
			<ul>
				<li>
					<div class="baoguo">
						<div class="guess-top">
							<img src="/Static/Imgs/indeximgs/city-6.png" alt="">
							<ul class="shadow">
								<li class="star"></li>
								<li class="star"></li>
								<li class="star"></li>
								<li class="star"></li>	
							</ul>
						</div>
						<div class="guess-bottom">
							<h3>阿比斯库</h3>
							<p>ABISKO</p>
						</div>
					</div>
				</li>
				<li>
					<div class="baoguo">
						<div class="guess-top">
							<img src="/Static/Imgs/indeximgs/city-7.png" alt="">
							<ul class="shadow">
								<li class="star"></li>
								<li class="star"></li>
								<li class="star"></li>
								<li class="star"></li>	
							</ul>
						</div>
						<div class="guess-bottom">
							<h3>赫尔辛堡</h3>
							<p>HELSINGBORG</p>
						</div>
					</div>
				</li>
				<li>
					<div class="baoguo">
						<div class="guess-top">
							<img src="/Static/Imgs/indeximgs/city-8.png" alt="">
							<ul class="shadow">
								<li class="star"></li>
								<li class="star"></li>
								<li class="star"></li>
								<li class="star"></li>	
							</ul>
						</div>
						<div class="guess-bottom">
							<h3>松兹瓦尔</h3>
							<p>BULIKELIN<b>.NY</b></p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>




	
</body>
</html>