<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="<?php echo CSS_PATH; ?>base.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH; ?>indexcss/travel.css">
    <title>Document</title>
</head>
<body>
<!--<?php include VIEW.'template/header.html'?>-->
<div class="container">
    <div class="inner-width">
        <div class="item">
            <div class="bluebg"></div>
            <div class="main">
                <a href="/index/heatPlay_details" class="show-pic"></a>
                <div class="description">
                    <h5>感受北方威尼斯之美”</h5>
                    <h5>Beauty of Venice</h5>
                    <text>作为山之故乡，水之国度的瑞士因特拉肯和琉森是经典之旅</text>
                </div>
                <div class="heat">
                    <div class="heat-header">
                        <div class="header-items"></div>
                        <div class="header-items"></div>
                        <div class="header-items"></div>
                        <div class="header-items"></div>
                    </div>
                    <div class="heat-num">等1578人已读</div>
                </div>
            </div>
            <div class="decorate active">威尼斯</div>
            <div class="decorate-2 active"></div>
        </div>
        <div class="item">
            <div class="bluebg"></div>
            <div class="main">
                <a href="/index/heatPlay_details" class="show-pic"></a>
                <div class="description">
                    <h5>感受北方威尼斯之美”</h5>
                    <h5>Beauty of Venice</h5>
                    <text>作为山之故乡，水之国度的瑞士因特拉肯和琉森是经典之旅</text>
                </div>
                <div class="heat">
                    <div class="heat-header">
                        <div class="header-items"></div>
                        <div class="header-items"></div>
                        <div class="header-items"></div>
                        <div class="header-items"></div>
                    </div>
                    <div class="heat-num">等1578人已读</div>
                </div>
            </div>
            <div class="decorate">威尼斯</div>
            <div class="decorate-2"></div>
        </div>
        <div class="item">
            <div class="bluebg"></div>
            <div class="main">
                <a href="/index/heatPlay_details" class="show-pic"></a>
                <div class="description">
                    <h5>感受北方威尼斯之美”</h5>
                    <h5>Beauty of Venice</h5>
                    <text>作为山之故乡，水之国度的瑞士因特拉肯和琉森是经典之旅</text>
                </div>
                <div class="heat">
                    <div class="heat-header">
                        <div class="header-items"></div>
                        <div class="header-items"></div>
                        <div class="header-items"></div>
                        <div class="header-items"></div>
                    </div>
                    <div class="heat-num">等1578人已读</div>
                </div>
            </div>
            <div class="decorate">威尼斯</div>
            <div class="decorate-2"></div>
        </div>
        <div class="item">
            <div class="bluebg"></div>
            <div class="main">
                <a href="/index/heatPlay_details" class="show-pic"></a>
                <div class="description">
                    <h5>感受北方威尼斯之美”</h5>
                    <h5>Beauty of Venice</h5>
                    <text>作为山之故乡，水之国度的瑞士因特拉肯和琉森是经典之旅</text>
                </div>
                <div class="heat">
                    <div class="heat-header">
                        <div class="header-items"></div>
                        <div class="header-items"></div>
                        <div class="header-items"></div>
                        <div class="header-items"></div>
                    </div>
                    <div class="heat-num">等1578人已读</div>
                </div>
            </div>
            <div class="decorate">威尼斯</div>
            <div class="decorate-2"></div>
        </div>
    </div>
</div>
</body>
</html>