@charset "UTF-8";
body {
  background: #F6F6F6; }

.header {
  width: 100%;
  height: 0.88rem;
  position: fixed;
  left: 0;
  top: 0;
  background: url(/Static/Imgs/indeximgs/daohang.png);
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  z-index: 9999; }

.inner {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*justify-content:center;*/ }

.space {
  width: 0.48rem;
  height: 0.48rem;
  background: url(/Static/Imgs/indeximgs/geren.png) center/contain no-repeat;
  display: block; }

.search {
  width: 65%;
  height: 0.48rem;
  background: #fff;
  text-align: center;
  line-height: 0.48rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  font-size: 0.2rem;
  border-radius: 0.1rem;
  /*text-align: center;*/ }

.searchyi {
  width: 0.3rem;
  height: 0.3rem;
  background: url(/Static/Imgs/indeximgs/search.png) center/contain no-repeat; }

.search input {
  width: 85%;
  /*padding-left: 2%;*/
  border: none;
  outline: none;
  font-size: 0.28rem; }

.newss {
  width: 0.48rem;
  height: 0.48rem;
  background: url(/Static/Imgs/indeximgs/news.png) center/contain no-repeat;
  display: block; }

.banner {
  margin-top: 0.88rem;
  width: 100%;
  position: relative; }

.banner img {
  width: 100%; }

.banner .btn {
  width: 12%;
  height: 0.2rem;
  /*background-color: red;*/
  position: absolute;
  left: 45%;
  bottom: 0.25rem;
  display: flex;
  justify-content: space-between; }

.btn .hot {
  background: #2296F0; }

.btn li {
  width: 21%;
  height: 0.2rem;
  background: #fff;
  border-radius: 50%; }

.djrw {
  margin-top: 0.3rem;
  width: 100%;
  height: 0.68rem;
  display: block;
  background: url(/Static/Imgs/indeximgs/djrw.png) center/contain no-repeat;
  /*background-size: 50% 100%;*/ }

.zurich {
  width: 100%;
  margin-top: 0.2rem;
  display: flex;
  justify-content: center; }

.sls {
  width: 100%;
  height: 2.6rem;
  background: url(/Static/Imgs/indeximgs/sulishi.png) center no-repeat;
  background-size: 100% 100%;
  display: block; }

.eiffel {
  width: 100%;
  margin-top: 0.32rem;
  display: flex;
  justify-content: center; }

.afe {
  width: 100%;
  height: 2.6rem;
  background: url(/Static/Imgs/indeximgs/aifeier.png) center no-repeat;
  background-size: 100% 100%;
  display: block; }

.attractions {
  margin-top: 0.3rem;
  width: 100%;
  height: 0.68rem;
  display: block;
  background: url(/Static/Imgs/indeximgs/rmjd.png) center/contain no-repeat; }

.scenic {
  width: 100%;
  display: flex;
  justify-content: center; }

.page {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.item {
  margin-top: 0.3rem;
  width: 48%;
  border-radius: 0.1rem;
  z-index: 11;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background: #fff; }

.sport {
  width: 100%;
  height: 3.2rem;
}
.sport1 {
  width: 100%;
  height: 3.2rem;
  }

.sport2 {
  width: 100%;
  height: 3.2rem;
}

.sport3 {
  width: 100%;
  height: 3.2rem;
}

.text {
  padding: 2% 5%;
  display: flex;
  flex-direction: column;
  align-content: space-between; }

.text h3 {
  font-size: 0.3rem;
  line-height: 0.5rem;
  color: #000; }

.text h3 i {
  border-bottom: 0.01rem  dotted #dfdfdf; }

.text h5 {
  font-size: 0.24rem;
  line-height: 0.4rem;
  font-family: 'San Francisco', 'Roboto', sans-serif;
}
.text h5 b{
  color: #000;
}
.option {
  padding-top: 0.15rem ;
  width: 100%;
  display: flex;
  justify-content: space-between; }

.option li {
  padding:0.04rem 0.06rem;
  border: 0.01rem dotted #2296F0;
  font-size: 0.18rem;
  border-radius: 0.05rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  /*padding: 0.1% 0.1%;*/ }

.duty {
  margin-top:0.02rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 0.5rem; 
}

.duty .money {
  font-size: 0.26rem;
  color: #FF6601; }
  .duty .money i {
    color: #B3B3B3;
    font-size: 0.18rem; }

.eye {
  font-size: 0.2rem;
  color: #B3B3B3;
  display: inline-block;
  display: flex;
  align-items:center;
  line-height: 0.6rem;
}

.eye .icon-eye {
  /*padding-top: 0.5rem;*/
  font-size: 0.25rem;
  color: #FEC17B; }

.xinxi {
  font-size: 0.2rem;
  color: #B3B3B3; 
  display: flex;
  align-items:center;
  line-height: 0.6rem;
}

.icon-xiaoxi {
  color: #93CFFD;
  font-size: 0.25rem;
}

.travel {
  margin-top: 0.3rem;
  width: 100%;
  height: 0.68rem;
  display: block;
  background: url(/Static/Imgs/indeximgs/lxrz.png) center/contain no-repeat; }

section.picture-show {
  width: 100%;
  height: 3.6rem;
  overflow: hidden;
  position: relative; }

section.picture-show ul {
  height: 3.6rem;
  width: 14.1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -3.2rem; }

section.picture-show li {
  width: 4.5rem;
  height: 3rem;
  margin-right: 0.2rem;
  float: left;
  border-radius: 0.2rem;
  background-position: center;
  background-size: 126%;
  background-repeat: no-repeat; }

section.picture-show li:nth-of-type(1) {
  background-image: url("/Static/Imgs/indeximgs/rizhi2.png"); }

section.picture-show li:nth-of-type(2) {
  background-image: url("/Static/Imgs/indeximgs/rizhi1.png"); }

section.picture-show li:nth-of-type(3) {
  background-image: url("/Static/Imgs/indeximgs/rizhi.png"); }

.raiders {
  width: 100%;
  height: 0.68rem;
  display: block;
  background: url(/Static/Imgs/indeximgs/lxgl.png) center/contain no-repeat; }

.raiders-list1 {
  width: 100%;
  height: 3rem;
  display: flex;
  margin-top: -0.15rem;
  margin-bottom: 1.2rem;
  justify-content: center; }
.raiders-list {
  margin-top: 0.1rem;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center; }

.present {
  width: 100%;
  height: 2.4rem;
  background: #fff;
  border-radius: 0.1rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between; }

.present-lf {
  width: 2.6rem;
  height: 2.2rem;
  background: #1ADA6C;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top:0.1rem; }

.present .dian {
  width: 0.1rem;
  height: 0.1rem;
  background: #fff;
  border-radius: 50%; }

.present-lf img {
  width: 2.4rem;
  height: 2.6rem;
  border-radius: 0.1rem; }

.present-rg {
  padding-left: 0.2rem; 
}
.present-rgtop{
  padding-top: 0.15rem;
  width: 100%;
  display:flex;
  justify-content: space-between;
}
.present-rg .present-rgtop h3 {
  font-size: 0.3rem;
  line-height: 0.4rem; }
.present-rg .present-rgtop .stars{
  display: flex;
  aiign-items:center;
  width: 20%;
  height: 0.4rem;
}
.present-rg .present-rgtop .stars li{
  width: 20%;
  height: 0.17rem;
  font-size: 100% 0.17rem;
  background: url(/Static/Imgs/indeximgs/star.png)center/contain no-repeat;
}
.present-rg span {
  font-family: 'San Francisco', 'Roboto', sans-serif;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-size: 0.22rem;
  line-height: 0.4rem; }
.present-rg span i{
  color: #999999;
}
.present-rg p {
  padding-top: 0.15rem;
  font-size: 0.24rem;
  line-height: 0.4rem; 
  color: #666666;
}

.visit-bm {
  margin-top:0.06rem;
  display: flex; }

.visit {
  width: 30%;
  height: 0.48rem;
  position: relative; }

.present-rg img {
  width: 0.48rem;
  height: 0.48rem;
  position: absolute;
  top: 0;
  left: 0; }

.present-rg .visitor:nth-child(2) {
  position: absolute;
  left: 20%;
  z-index: 1; }

.present-rg .visitor:nth-child(3) {
  position: absolute;
  left: 40%;
  z-index: 2; }

.present-rg .visitor:nth-child(4) {
  position: absolute;
  left: 60%;
  z-index: 4; }

.number {
  position: relative;
  left: 7%;
  width: 0.48rem;
  height: 0.48rem;
  background: #0093E7;
  border-radius: 50%;
  font-size: 0.16rem;
  text-align: center;
  line-height: 0.48rem; }

.share {
  position: relative;
  left: 15%;
  height: 0.48rem;
  font-size: 0.2rem;
  line-height: 0.58rem;
  display: inline-block;
  display: flex;
  align-items:center;
}

.icon-share-1 {
  color: #1ADA6C;
  font-size: 0.3rem; }



/*search*/
header {
  width: 100%;
  height: 1.4rem;
  background: url("/Static/Imgs/cart_header.png") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 0.2rem; }

header .return {
  background: url("/Static/Imgs/cir.png") no-repeat center;
  background-size: 80%;
  width: .7rem;
  height: .7rem;
  text-align: center;
  line-height: .7rem;
  color: #fff; }

header .text {
  color: #fff;
  flex: 1;
  padding-right: 1rem;
  text-align: center; }

header .text h2 {
  font-size: 0.32rem; }

header .text span {
  font-size: 0.28rem;
  font-family: 'San Francisco', 'Roboto', sans-serif; }

nav {
  width: 100%;
  height: 0.8rem;
  display: flex;
  justify-content: center; }

nav .inner {
  position: relative; }

.search1 {
  width: 100%;
  height: 0.8rem;
  background: #fff;
  border: 0.02rem solid #5E5E5E;
  border-radius: 0.2rem;
  position: absolute;
  top: -0.3rem;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.icon-search1 {
  color: #2296F0;
  font-size: 0.4rem; }

.search1 input {
  text-align: center;
  font-size: 0.3rem;
  border: none;
  outline: none; }

.icon-voice {
  color: #F02E8A;
  font-size: 0.45rem; }

.place {
  width: 100%;
  height: 0.8rem;
  display: flex;
  justify-content: center; }

.city {
  width: 100%;
  height: 0.8rem;
  display: flex;
  justify-content: center;
  background: #fff;
  border-radius: 0.2rem;
  align-items: center; }

.city span {
  padding-left: 25%;
  line-height: 0.8rem; }

.icon-location {
  color: #2296F0;
  font-size: 0.4rem; }

.city input {
  font-size: 0.3rem;
  text-align: left;
  padding-left: 5%;
  border: none;
  outline: none; }

.contion {
  margin-top: 0.4rem;
  width: 100%;
  display: flex;
  justify-content: center; }

.contion .history {
  text-align: left; }

.contion h3 {
  font-size: 0.3rem; }
.contion span{
  font-size: 0.26rem;
}
.chengshi {
  width: 100%;
  display: flex;
  justify-content: center; }

.chengshi .city-list {
  width: 100%;
  display: flex;
  justify-content: space-around; }

.chengshi .city-list li {
  margin-top: 0.5rem;
  width: 26%;
  height: 0.7rem;
  font-size: 0.3rem;
  background: url(/Static/Imgs/indeximgs/kuang.png) center/contain no-repeat;
  text-align: center;
  line-height: 0.7rem; }

.contion1 {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center; }

.contion1 .history {
  text-align: left; }

.contion1 h3 {
  font-size: 0.3rem; }

.contion1 span{
  font-size: 0.26rem;
}
.chengshi1 {
  width: 100%;
  display: flex;
  justify-content: center; }

.chengshi1 .city-list {
  width: 100%;
  display: flex;
  justify-content: space-around; }

.chengshi1 .city-list li {
  margin-top: 0.5rem;
  width: 26%;
  height: 0.7rem;
  font-size: 0.3rem;
  background: url(/Static/Imgs/indeximgs/kuang2.png) center/contain no-repeat;
  text-align: center;
  line-height: 0.7rem; }

.chengshi2 .inner {
  width: 100%;
  display: flex;
  justify-content: center; }

.chengshi2 .city-list {
  width: 60%;
  display: flex;
  justify-content: space-around; }

.chengshi2 .city-list li {
  margin-top: 0.4rem;
  width: 40%;
  height: 0.7rem;
  font-size: 0.3rem;
  background: url(/Static/Imgs/indeximgs/kuang2.png) center/contain no-repeat;
  text-align: center;
  line-height: 0.7rem; }

.contion2 {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center; }

.contion2 .history {
  text-align: left; }

.contion2 h3 {
  font-size: 0.3rem; }
.contion2 span{
  font-size: 0.26rem;
}
.groom {
  margin-top: 0.8rem;
  width: 100%;
  height: 2.2rem;
  display: flex;
  justify-content: center; }

.groom .inner {
  width: 90%;
  background: #EF2986;
  height: 1.8rem;
  border-radius: 0.3rem;
  display: flex;
  position: relative; }

.groom .present1 {
  position: absolute;
  height: 2.2rem;
  top: -0.2rem;
  right: -0.15rem;
  width: 98%;
  background: #fff;
  border-radius: 0.1rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  z-index: 99;
  margin-right: 2%; }

.groom .present-lf1 img {
  margin-top: 0.2rem;
  width: 1.2rem;
  height: 1.2rem; }

.groom .hqc {
  width: 1.2rem;
  display: flex;
  justify-content: space-between; }

.groom .juli {
  font-size: 0.2rem; }

.groom .present-rg {
  margin-top: 0.12rem;
  padding-left: 0.2rem; }

.groom .present-rg h3 {
  font-size: 0.3rem;
  line-height: 0.4rem; }

.groom .present-rg h5 {
  font-size: 0.2rem;
  line-height: 0.4rem;
  }

.groom .present-rg p {
  font-size: 0.26rem;
  line-height: 0.4rem; }

.groom .burst {
  width: 100%;
  height: 0.8rem;
  position: absolute;
  top: 0;
  left: 2.6rem;
  background: url(/Static/Imgs/indeximgs/burst.png) center/contain no-repeat; }

.groomm {
  margin-top: 0.42rem;
  width: 100%;
  height: 2.2rem;
  display: flex;
  justify-content: center; }

.groomm .inner {
  width: 90%;
  background: #EF2986;
  height: 1.8rem;
  border-radius: 0.3rem;
  display: flex;
  position: relative; }

.groomm .present1 {
  position: absolute;
  height: 2.2rem;
  top: -0.2rem;
  right: -0.15rem;
  width: 98%;
  background: #fff;
  border-radius: 0.1rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  z-index: 99;
  margin-right: 2%; }

.groomm .present-lf1 img {
  margin-top: 0.2rem;
  width: 1.2rem;
  height: 1.2rem; }

.groomm .hqc {
  width: 1.2rem;
  display: flex;
  justify-content: space-between; }

.groomm .juli {
  font-size: 0.2rem; }

.groomm .present-rg {
  margin-top: 0.12rem;
  padding-left: 0.2rem; }

.groomm .present-rg h3 {
  font-size: 0.3rem;
  line-height: 0.4rem; }

.groomm .present-rg h5 {
  font-size: 0.24rem;
  line-height: 0.4rem; }

.groomm .present-rg p {
  font-size: 0.26rem;
  line-height: 0.4rem; }

.groomm .burst {
  width: 100%;
  height: 0.8rem;
  position: absolute;
  top: 0;
  left: 2.6rem;
  background: url(/Static/Imgs/indeximgs/burst.png) center/contain no-repeat; }

/*searchtwo*/
.britain {
  width: 100%;
  display: flex;
  justify-content: center; }

.britain .inner {
  padding: 0.2rem 0;
  width: 90%;
  background: #fff;
  justify-content: center; }

.britain ul {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center; }

.britain li {
  width: 100%;
  height: 0.8rem;
  display: flex;
  justify-content: space-between;
  line-height: 0.8rem;
  border-bottom: 0.01rem solid #dfdfdf; }

.britain .last {
  border-bottom: none; }

.britain .icon-fanhui {
  width: 0.4rem;
  height: 0.4rem;
  background: url(/Static/Imgs/indeximgs/fanhui.png) center/contain no-repeat;
  margin-top: 0.2rem; }

.britain li i {
  font-size: 0.4rem; }

.britain li b {
  font-size: 0.4rem;
  padding: 0 0.2rem; }

.britain li .ziti {
  font-size: 0.3rem; }

.britain .last {
  margin-top: 0.2rem;
  font-size: 0.36rem; }

.britain .last span {
  padding-left: 15%;
  box-sizing: border-box; }

.britain .last span i {
  color: #2296F0; }

/*Searchthree*/
.fail-nav {
  margin-top: 0.2rem;
  width: 100%;
  display: flex;
  justify-content: center;  

}

.fail-con{
  width: 100%;
  display: flex;
  justify-content:center;
}
.fail-con img {
  width: 1.27rem;
  height: 1.27rem;
  padding-left: 0.8rem; 
}
.fail-con .relevant{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:start;
  /*flex-wrap: wrap;*/
  width: 70%;
  height: 1.27rem;
  font-size: 0.3rem;
  padding-left: 0.2rem;
}
.fail-con .relevant .yingwen{
  font-size: 0.12rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.guess{
  width: 100%;
  display: flex;
  justify-content:center;
}
.guess .inner ul{
  margin-top: 0.3rem;
  width: 100%;
  display: flex;
  justify-content:space-between;
}
.guess .inner ul li{
  width: 30%;
  height: 3rem;
  font-size: 100% 3rem;
  background: url(/Static/Imgs/indeximgs/diceng.png)center/contain no-repeat;
  position: relative;
}
.guess-top{
  margin-top: 0.1rem;
  width: 100%;
  height: 2.8rem;
  background: #fff;
  border-radius: 0.1rem;
  overflow: hidden;
  position: relative;
}
.guess .inner ul li img{
  width: 100%;
  height: 60%;  
  position: relative;
}
.guess .inner ul li .shadow{
  width: 100%;
  height: 10%;
  position: absolute;
  left: 0;
  top:37%;
  background: rgba(0,0,0,0.5);  
  display:flex;
  justify-content:center;

}
.guess .inner ul li .shadow li{
  width: 10%;
  height: 100%;
  font-size: 100% 0.17rem;
  background: url(/Static/Imgs/indeximgs/star.png)center/contain no-repeat;
}
.guess-bottom{
  width: 100%;
  height: 39%;
  background: #fff;
  border-radius: 0.1rem;
  position: absolute;
  left: 0;
  bottom: 0.1rem;
  text-align: center;
  line-height: 0.6rem;
}
.guess-bottom b{
  font-weight: 600;
}
.guess-bottom p{
  display: inline-block;
  border-top: 0.01rem dotted #dfdfdf;
  font-size: 0.26rem;
}
