@charset "UTF-8";
body {
  background: #F6F6F6; }

.header {
  width: 100%;
  height: 0.88rem;
  position: fixed;
  left: 0;
  top: 0;
  background: url(/Static/Imgs/indeximgs/daohang.png);
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  z-index: 9999; }

.inner {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*justify-content:center;*/ }

.space {
  width: 0.48rem;
  height: 0.48rem;
  background: url(/Static/Imgs/indeximgs/geren.png) center/contain no-repeat;
  display: block; }

.search {
  width: 65%;
  height: 0.48rem;
  background: #fff;
  text-align: center;
  line-height: 0.48rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.12rem;
  border-radius: 0.1rem;
  /*text-align: center;*/ }

.searchyi {
  padding-left: 0.5rem;
  width: 0.3rem;
  height: 0.3rem;
  background: url(/Static/Imgs/indeximgs/search.png) center/contain no-repeat; }

.search input {
  width: 85%;
  padding-left: 2%;
  border: none;
  outline: none;
  font-size: 0.24rem; }

.newss {
  width: 0.48rem;
  height: 0.48rem;
  background: url(/Static/Imgs/indeximgs/news.png) center/contain no-repeat;
  display: block; }

.banner {
  margin-top: 0.88rem;
  width: 100%;
  position: relative; }

.banner img {
  width: 100%; }

.banner .btn {
  width: 12%;
  height: 0.2rem;
  /*background-color: red;*/
  position: absolute;
  left: 45%;
  bottom: 0.25rem;
  display: flex;
  justify-content: space-between; }

.btn .hot {
  background: #2296F0; }

.btn li {
  width: 21%;
  height: 0.2rem;
  background: #fff;
  border-radius: 50%; }

.djrw {
  margin-top: 0.3rem;
  width: 100%;
  height: 0.68rem;
  display: block;
  background: url(/Static/Imgs/indeximgs/djrw.png) center/contain no-repeat;
  /*background-size: 50% 100%;*/ }

.zurich {
  width: 100%;
  margin-top: 0.2rem;
  display: flex;
  justify-content: center; }

.sls {
  width: 100%;
  height: 2.6rem;
  background: url(/Static/Imgs/indeximgs/sulishi.png) center no-repeat;
  background-size: 100% 100%;
  display: block; }

.eiffel {
  width: 100%;
  margin-top: 0.32rem;
  display: flex;
  justify-content: center; }

.afe {
  width: 100%;
  height: 2.6rem;
  background: url(/Static/Imgs/indeximgs/aifeier.png) center no-repeat;
  background-size: 100% 100%;
  display: block; }

.attractions {
  margin-top: 0.3rem;
  width: 100%;
  height: 0.68rem;
  display: block;
  background: url(/Static/Imgs/indeximgs/rmjd.png) center/contain no-repeat; }

.scenic {
  width: 100%;
  display: flex;
  justify-content: center; }

.page {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.item {
  margin-top: 0.3rem;
  width: 48%;
  border-radius: 0.1rem;
  z-index: 11;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background: #fff;
  box-shadow: 0 0 0.3rem #dadada;
}

.sport {
  width: 100%;
  height: 3.2rem;
}
.sport1 {
  width: 100%;
  height: 3.2rem;
  }

.sport2 {
  width: 100%;
  height: 3.2rem;
}

.sport3 {
  width: 100%;
  height: 3.2rem;
}

.text {
  padding: 2% 5%;
  display: flex;
  flex-direction: column;
  align-content: space-between; }

.text h3 {
  font-size: 0.29rem;
  line-height: 0.5rem;
  color: #333333; }

.text h3 i {
  border-bottom: 0.01rem  dotted #dfdfdf; }

.text h5 {
  font-size: 0.22rem;
  line-height: 0.4rem;
  color:#A1A1A1;
  font-family: 'San Francisco', 'Roboto', sans-serif;
}
.text h5 b{
  color: #666666;
}
.option {
  padding-top: 0.15rem ;
  width: 100%;
  display: flex;
  justify-content: space-between; }

.option li {
  padding:0.04rem 0.06rem;
  border: 0.01rem dotted #2296F0;
  font-size: 0.16rem;
  border-radius: 0.05rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: #9F9F9F;
  /*padding: 0.1% 0.1%;*/ }

.duty {
  margin-top:0.02rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 0.5rem; 
}

.duty .money {
  font-size: 0.24rem;
  color: #FF6601; }
  .duty .money i {
    color: #B3B3B3;
    font-size: 0.18rem; }

.eye {
  font-size: 0.2rem;
  color: #B3B3B3;
  display: inline-block;
  display: flex;
  align-items:center;
  line-height: 0.5rem;
  margin-top: 0.02rem;
}

.eye .icon-eye {
  /*padding-top: 0.5rem;*/
  font-size: 0.25rem;
  color: #FEC17B; }

.xinxi {
  font-size: 0.2rem;
  color: #B3B3B3; 
  display: flex;
  align-items:center;
  line-height: 0.5rem;
  margin-top: 0.02rem;
}

.icon-xiaoxi {
  color: #93CFFD;
  font-size: 0.25rem;
}

.travel {
  margin-top: 0.3rem;
  width: 100%;
  height: 0.68rem;
  display: block;
  background: url(/Static/Imgs/indeximgs/lxrz.png) center/contain no-repeat; }

section.picture-show {
  width: 100%;
  height: 3.6rem;
  /*overflow-x: auto; */
  overflow:hidden;
  overflow-x: auto;
}
section.picture-show::-webkit-scrollbar{
  width:0;
  height:0;
}
section.picture-show ul {
  /*overflow-x: auto;*/
  height: 3.6rem;
  width: 14.3rem;
  display: flex;
  justify-content: space-between;
}

section.picture-show li {
  width: 4.5rem;
  height: 3rem;
  border-radius: 0.1rem;
  /*background-position: center;*/
  display: inline-block;
  /*background-repeat: no-repeat;*/
  box-shadow: 0 0 0.3rem #dedede;
  position: relative;
}
section.picture-show li .zhezhao{
  width: 100%;
  height: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(195,234,247,0.8);
}
section.picture-show li .zhezhao .kew:nth-of-type(1){
  background: rgba(98,217,154,0.8);
  width: 0.88rem;
  height: 0.88rem;
  border-radius: 50%;
  position: absolute;
  left: 0.2rem;
  bottom: 0.5rem;
  transform:translate3d(-0.06rem,-0.08rem,0);
}
section.picture-show li .zhezhao .kew:nth-of-type(2){
  background: rgba(185,234,209,0.8);
  width: 0.88rem;
  height: 0.88rem;
  border-radius: 50%;
  position: absolute;
  left: 0.2rem;
  bottom: 0.5rem; 
  transform:translate3d(0.08rem,-0.05rem,0);
  
}
section.picture-show li .zhezhao .kew:nth-of-type(3){
  background: rgba(103,218,158,0.8);
  width: 0.88rem;
  height: 0.88rem;
  border-radius: 50%;
  position: absolute;
  left: 0.2rem;
  bottom: 0.5rem; 
  transform:translate3d(0,0.04rem,0);   
}
section.picture-show li .zhezhao .kew:nth-of-type(4){
  background: url(/Static/Imgs/indeximgs/kew1.png)center/contain no-repeat;
  width: 0.88rem;
  height: 0.88rem;
  border-radius: 50%;
  position: absolute;
  left: 0.2rem;
  bottom: 0.5rem;    
}
.zhezhao1{
  width: 100%;
  height: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(147,147,151,0.8);
}
.zhezhao1 .kew:nth-of-type(1){
  background: rgba(255,255,168,0.8);
  width: 0.88rem;
  height: 0.88rem;
  border-radius: 50%;
  position: absolute;
  left: 0.2rem;
  bottom: 0.5rem;
  transform:translate3d(-0.06rem,-0.08rem,0);
}
.zhezhao1 .kew:nth-of-type(2){
  background: rgba(255,255,221,0.8);
  width: 0.88rem;
  height: 0.88rem;
  border-radius: 50%;
  position: absolute;
  left: 0.2rem;
  bottom: 0.5rem; 
  transform:translate3d(0.08rem,-0.05rem,0);
}
.zhezhao1 .kew:nth-of-type(3){
  background: rgba(214,214,133,0.8);
  width: 0.88rem;
  height: 0.88rem;
  border-radius: 50%;
  position: absolute;
  left: 0.2rem;
  bottom: 0.5rem; 
  transform:translate3d(0,0.04rem,0); 
}
.zhezhao1 .kew:nth-of-type(4){
  background: url(/Static/Imgs/indeximgs/kew2.png)center/contain no-repeat;
  width: 0.88rem;
  height: 0.88rem;
  border-radius: 50%;
  position: absolute;
  left: 0.2rem;
  bottom: 0.5rem;  
}
.zhezhao2{
  width: 100%;
  height: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(59,58,86,0.8);
}
.zhezhao2 .kew:nth-of-type(1){
  background: rgba(255,255,168,0.8);
  width: 0.88rem;
  height: 0.88rem;
  border-radius: 50%;
  position: absolute;
  left: 0.2rem;
  bottom: 0.5rem;
  transform:translate3d(-0.06rem,-0.08rem,0);
}
.zhezhao2 .kew:nth-of-type(2){
  background: rgba(255,255,221,0.8);
  width: 0.88rem;
  height: 0.88rem;
  border-radius: 50%;
  position: absolute;
  left: 0.2rem;
  bottom: 0.5rem; 
  transform:translate3d(0.08rem,-0.05rem,0);
}
.zhezhao2 .kew:nth-of-type(3){
  background: rgba(214,214,133,0.8);
  width: 0.88rem;
  height: 0.88rem;
  border-radius: 50%;
  position: absolute;
  left: 0.2rem;
  bottom: 0.5rem; 
  transform:translate3d(0,0.04rem,0); 
}
.zhezhao2 .kew:nth-of-type(4){
  background: url(/Static/Imgs/indeximgs/kew2.png)center/contain no-repeat;
  width: 0.88rem;
  height: 0.88rem;
  border-radius: 50%;
  position: absolute;
  left: 0.2rem;
  bottom: 0.5rem;  
}
section.picture-show li .klp{
  position: absolute;
  left: 30%;
  bottom: 0.4rem;
}
section.picture-show li .klp h3{
  font-size: 0.24rem;
  line-height: 0.15rem;
  color: #fff;
}
section.picture-show li .klp h3 b{
  font-weight: 600;
}

section.picture-show li .klp span b{
  font-weight: 600;
}
section.picture-show li .klp span::before{
  position: absolute;
  content: '';
  bottom: -0.03rem;
  left: 0;
  width: 0.05rem;
  height: 0.05rem;
  border-radius: 50%;
  background: #C8C8C8;  
}
section.picture-show li .klp span{
  font-size: 0.18rem;
  padding-bottom: 0.04rem;
  border-bottom:0.01rem solid #C8C8C8;
  color: #fff;
  position: relative;
  font-family: 'San Francisco', 'Roboto', sans-serif;
}
section.picture-show li .klp span::after{
  position: absolute;
  content: '';
  bottom: -0.03rem;
  right: 0;
  width: 0.05rem;
  height: 0.05rem;
  border-radius: 50%;
  background: #C8C8C8;  
}
section.picture-show li .zzdbu{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0.05rem;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 0.2rem;

}
.zuobiao{
  position: absolute;
  right: 0.2rem;
  bottom: 0.6rem;
  display: inline-block;
  font-size: 0.22rem;
  color: #fff;
}
.zuobiao .icon-location{
  color: #1E86DD;
  font-size: 0.26rem;
}
section.picture-show li .zzdbu div{
  padding: 0 0.1rem;
  display: inline-block;
}
section.picture-show li .zzdbu .icon-praise{
  color: #FD504C;
  font-size: 0.24rem;
  padding-right: 0.1rem;
}
section.picture-show li .zzdbu .icon-collect{
  color: #FEB764;
  font-size: 0.26rem;
  padding-right: 0.1rem;
}
section.picture-show li .zzdbu .icon-xiaoxi{
  font-size: 0.26rem;
  padding-right: 0.1rem;
  color: #90C8F2;
}

section.picture-show li:nth-of-type(1) {
  background: url("/Static/Imgs/indeximgs/rizhi2.png")center/cover no-repeat;
}
section.picture-show li:nth-of-type(2) {
  background: url("/Static/Imgs/indeximgs/rizhi1.png")center/cover no-repeat;
  font-size: 100% 100%;
}

section.picture-show li:nth-of-type(3) {
  background: url("/Static/Imgs/indeximgs/rizhi.png")center/cover no-repeat; }

.raiders {
  width: 100%;
  height: 0.68rem;
  display: block;
  background: url(/Static/Imgs/indeximgs/lxgl.png) center/contain no-repeat; }

.raiders-list1 {
  width: 100%;
  height: 3rem;
  display: flex;
  margin-top: -0.15rem;
  margin-bottom: 1.2rem;
  justify-content: center; }
.raiders-list {
  margin-top: 0.1rem;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
}

.present {
  width: 100%;
  height: 2.4rem;
  background: #fff;
  border-radius: 0.1rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 0.3rem #dadada;
 
}

.present-lf {
  width: 2.6rem;
  height: 2.2rem;
  background: #1ADA6C;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top:0.1rem; }

.present .dian {
  width: 0.1rem;
  height: 0.1rem;
  background: #fff;
  border-radius: 50%; }

.present-lf img {
  width: 2.4rem;
  height: 2.6rem;
  border-radius: 0.1rem; }

.present-rg {
  padding-left: 0.2rem; 
}
.present-rgtop{
  padding-top: 0.15rem;
  width: 100%;
  display:flex;
  justify-content: space-between;
}
.present-rg .present-rgtop h3 {
  font-size: 0.29rem;
  line-height: 0.4rem;
  color:#3A3A3A;
}
.present-rg .present-rgtop .stars{
  display: flex;
  aiign-items:center;
  width: 20%;
  height: 0.4rem;
  margin-top:0.03rem;
}
.present-rg .present-rgtop .stars li{
  display: inline-block;
  width: 25%;
  height: 0.25rem;
  font-size: 100% 0.25rem;
  background: url(/Static/Imgs/indeximgs/star.png)center/contain no-repeat;
}
.present-rg span {
  font-family: 'San Francisco', 'Roboto', sans-serif;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-size: 0.21rem;
  line-height: 0.28rem;
  color:#6E6E6E;
}
.present-rg span i{
  color: #999999;
}
.present-rg p {
  padding-top: 0.15rem;
  font-size: 0.24rem;
  line-height: 0.4rem; 
  color: #666666;
}

.visit-bm {
  margin-top:0.06rem;
  display: flex; }

.visit {
  width: 30%;
  height: 0.48rem;
  position: relative; }

.present-rg img {
  width: 0.48rem;
  height: 0.48rem;
  position: absolute;
  top: 0;
  left: 0; }

.present-rg .visitor:nth-child(2) {
  position: absolute;
  left: 20%;
  z-index: 1; }

.present-rg .visitor:nth-child(3) {
  position: absolute;
  left: 40%;
  z-index: 2; }

.present-rg .visitor:nth-child(4) {
  position: absolute;
  left: 60%;
  z-index: 4; }

.number {
  position: relative;
  left: 7%;
  width: 0.48rem;
  height: 0.48rem;
  background: #0093E7;
  border-radius: 50%;
  font-size: 0.16rem;
  text-align: center;
  color: #fff;
  line-height: 0.48rem; }

.share {
  position: relative;
  left: 15%;
  height: 0.48rem;
  font-size: 0.2rem;
  line-height: 0.58rem;
  display: inline-block;
  display: flex;
  align-items:center;
}

.icon-share-1 {
  color: #1ADA6C;
  font-size: 0.3rem; }



