.container {
  width: 100%;
  padding-top: 1.2rem;
  box-sizing: border-box; }
  .container .inner-width {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap; }
  .container .item {
    width: 48%;
    height: 5.6rem;
    padding-bottom: 0.3rem;
    padding-top: 0.15rem;
    position: relative; }
    .container .item .bluebg {
      width: 90%;
      height: 5.6rem;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 2;
      border-radius: 0.2rem;
      overflow:hidden;
      background: #37CEDC; }
    .container .item .bluebg .small-bg{
      position:absolute;
      bottom:0;left:0;
      background:#37CEDC;
      width:50%;height:50%;
    }
    .container .item .main {
      width: 100%;
      height: 85%;
      background: #fff;
      position: absolute;
      top: 0;
      bottom: 0.1rem;
      margin: auto;
      left: 0;
      z-index: 2;
      border-radius: 0.2rem;
      box-shadow: 0 0 0.2rem #515151; }
      .container .item .main a.show-pic {
        display: block;
        width: 100%;
        height: 55%;
        border-radius: 0.2rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;}
        .container .item .main a.show-pic:nth-of-type(1){
          background-image: url("/Static/Imgs/indeximgs/travel-strategy-1.png");
        }
        .container .item .main a.show-pic:nth-of-type(2){
          background-image: url("/Static/Imgs/indeximgs/travel-strategy-2.png");
        }
        .container .item .main a.show-pic:nth-of-type(3){
          background-image: url("/Static/Imgs/indeximgs/travel-strategy-3.png");
        }
        .container .item .main a.show-pic:nth-of-type(4){
          background-image: url("/Static/Imgs/indeximgs/travel-strategy-4.png");
        }
      .container .item .main .description {
        box-sizing: border-box;
        width: 90%;
        height: 1.56rem;
        margin:0 auto;
        padding-top:0.14rem;
        border-bottom: 1px dashed #D8D8D8;
        position: relative; }
        .container .item .main .description ::after {
          position: absolute;
          content: '';
          bottom: -0.06rem;
          left: 0;
          width: 5px;
          height: 5px;
          border-radius:50%;
          background: #E1E1E1; }
      .container .item .main h4 {
        font-size:0.3rem;
        line-height: 0.36rem;
        color: #333333; }
      .container .item .main h4:nth-of-type(2) {
        font-size:0.26rem;
        line-height: 0.32rem;
        color: #666666; }
      .container .item .main text {
        line-height: 0.33rem;
        font-size: 0.26rem;
        color: #999;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;}
      .container .item .main .heat {
        width: 100%;
        height: 0.7rem;
        display: flex;
        justify-content: space-around;
        align-items: center; }
      .container .item .main .heat-header {
        width: 1.1rem;
        height: 0.5rem;
        position: relative; }
      .container .item .main .header-items {
        position: absolute;
        top: 0;
        background-position: center;
        background-size: contain;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%; }
      .container .item .main .header-items:nth-of-type(1) {
        left: 0;
        background-image: url("/Static/Imgs/indeximgs/visitor1.png"); }
      .container .item .main .header-items:nth-of-type(2) {
        left: 0.2rem;
        background-image: url("/Static/Imgs/indeximgs/visitor2.png"); }
      .container .item .main .header-items:nth-of-type(3) {
        left: 0.4rem;
        background-image: url("/Static/Imgs/indeximgs/visitor3.png"); }
      .container .item .main .header-items:nth-of-type(4) {
        left: 0.6rem;
        background-image: url("/Static/Imgs/indeximgs/visitor4.png"); }
      .container .item .main .heat-num {
        width: 1.7rem;
        height: 0.5rem;
        text-align: center;
        line-height: 0.5rem;
        font-size: 0.24rem;
        color: #999999;
        letter-spacing: -1px; }
    .container .item .decorate, .container .item .decorate-2 {
      width: 60%;
      height: 15%;
      position: absolute;
      top: 0;
      left: 20%;
      border-radius: 0.2rem; }
    .container .item .decorate {
      z-index: 3;
      text-align: center;
      line-height: 0.9rem;
      color: #fff;
      background: #36CDDA;
      font-size: 0.4rem; }
    .container .item .decorate::before{
      content:'';
      position:absolute;
      top:-4px;right:-10px;
      width:11px;height:19px;
      border-width: 0 0 7px 0;
      border-radius: 0 0 60px 0;
      border-style:solid;
      border-color:#36CDDA;
      transform:rotateX(180deg) rotateZ(45deg);
    }
.container .item .decorate::after{
  content:'';
  position:absolute;
  top:-4px;left:-10px;
  width:11px;height:19px;
  border-width:  7px 0 0 0;
  border-radius: 60px 0 0 0;
  border-style:solid;
  border-color:#36CDDA;
  transform:rotateZ(45deg);
}
    .container .item .decorate-2 {
      width: 70%;
      background: #30BECA;
      left: 15%; }
    .container .item.active .bluebg .small-bg,.container .item.active .decorate{
      background: #0093E7;
    }
    .container .item.active .decorate::before,.container .item.active .decorate::after{
      border-color: #0093E7;
    }
    .container .item.active .decorate-2{
      background:#0083CE;
    }


