<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/Static/Css/base.css">
    <link rel="stylesheet" href="/Static/Css/pay.css">
    <title>Document</title>
</head>

<body>
    <!--订单的头部  和别的有差别！-->
    <header class="order">
        <div class="return icon-return"></div>
        <div class="text">
            <h2>订单详情</h2>
            <span>ORDER DETALLS</span>
            <div class="load">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
            </div>
        </div>
        <div class="null"></div>
    </header>
    <div class="goods">
        <div class="goods-inner">
            <div class="goods-bg"></div>
            <div class="goods-info">
                <ul class="goods-content">
                    <li>
                        <img src="/Static/Imgs/pay/o-1.png" alt="">
                        <div class="goods-text">
                            <h3>凯迪拉克 XTS</h3>
                            <p>规划日期：2017-02-06</p>
                            <p>出行日期：5天</p>
                            <p>取车地点：上海</p>
                        </div>
                        <div class="price-box">
                            <div class="star">
                                <i></i>
                                <i></i>
                                <i></i>
                            </div>
                            <div class="price">￥659</div>
                        </div>
                    </li>
                    <li>
                        <img src="/Static/Imgs/pay/o-1.png" alt="">
                        <div class="goods-text">
                            <h3>凯迪拉克 XTS</h3>
                            <p>规划日期：2017-02-06</p>
                            <p>出行日期：5天</p>
                            <p>取车地点：上海</p>
                        </div>
                        <div class="price-box">
                            <div class="star">
                                <i></i>
                                <i></i>
                                <i></i>
                            </div>
                            <div class="price">￥659</div>
                        </div>
                    </li>
                    <li>
                        <img src="/Static/Imgs/pay/o-1.png" alt="">
                        <div class="goods-text">
                            <h3>凯迪拉克 XTS</h3>
                            <p>规划日期：2017-02-06</p>
                            <p>出行日期：5天</p>
                            <p>取车地点：上海</p>
                        </div>
                        <div class="price-box">
                            <div class="star">
                                <i></i>
                                <i></i>
                                <i></i>
                            </div>
                            <div class="price">￥659</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="money">
        <div class="defray bor">
            <i class="icon-pay"></i>
            <div class="amount">
                <h6>支付金额</h6>
                <span>PAYMENT AMOUNT</span>
            </div>
        </div>
        <div class="coin bor">
            <div class="coin-wrap">
                <span>￥</span>
                <span>2314.00</span>
                <span>-05</span>
            </div>
        </div>
        <div class="voucher">
            <i class="icon-voucher"></i>
            <span>已使用</span>
            <span>五元代金卷</span>
        </div>
    </div>
    <div class="settle-btn">
        <a href="pay/pay">
            <i class="icon-settle"></i>
            <div class="clearing">
                <p>去结算</p>
                <span>Clearing</span>
            </div>
        </a>
    </div>

</body>

</html>