<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/Static/Css/base.css">
    <link rel="stylesheet" href="/Static/Css/pay.css">
    <title>Document</title>
</head>

<body>
    <header class="order">
        <div class="return icon-return"></div>
        <div class="text">
            <h2>订单详情</h2>
            <span>ORDER DETALLS</span>
            <div class="load">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
            </div>
        </div>
        <div class="null"></div>
    </header>
    <div class="goods">
        <div class="goods-inner">
            <div class="goods-bg"></div>
            <div class="goods-info">
                <ul class="goods-content payment">
                    <li>
                        <div class="p-icon">
                            <i class="icon-pay"></i>
                        </div>
                        <div class="payment-text">
                            <h6>本地钱包<i>NEW</i><i class="icon-flame"></i></h6>
                            <p>使用本地钱包支付,有更多优惠</p>
                        </div>
                    </li>
                    <li>
                        <div class="p-icon">
                            <i class="icon-card"></i>
                        </div>
                        <div class="payment-text">
                            <h6>银行卡支付<i>3</i></h6>
                            <p>使用已绑定银行卡进行支付</p>
                        </div>
                    </li>
                    <li>
                        <div class="p-icon">
                            <i class="icon-COD-1"></i>
                        </div>
                        <div class="payment-text">
                            <h6>当面支付</h6>
                            <p>使用当面支付，完成此操作</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="third-pay">
        <div class="third-title">
            <div class="third-title-l">
                <h4>选择第三方支付</h4>
                <p>Third party payment</p>
            </div>
            <div class="third-title-r"></div>
        </div>
        <div class="third-select">
            <div class="Alipay">
                <i class="icon-pay-2"></i>
                <div class="third-text">
                    <p>选择支付宝支付</p>
                    <p>Select three Alipay</p>
                </div>
            </div>
            <div class="WeChat">
                <i class="icon-WeChat"></i>
                <div class="third-text">
                    <p>选择微信支付</p>
                    <p>Select WeChat payment </p>
                </div>
            </div>
        </div>
    </div>
    <div class="settle-btn">
        <a href="javascript:;">
            <i class="icon-settle"></i>
            <div class="clearing">
                <p>去支付</p>
                <span>To Pay</span>
            </div>
        </a>
    </div>
</body>

</html>