<?php include VIEW.'template/meat.html'?>
<link rel="stylesheet" href="/Static/Css/paypass.css">
<link rel="stylesheet" href="/Static/Css/paynot.css">
<title>选择银行卡</title>
</head>

<body>
    <header class="order">
        <div class="return " onclick=" window.history.back()" ;></div>
        <div class="text">
            <h2>选择银行卡</h2>
        </div>
        <div class="add"></div>
    </header>
    <div class="back">
        <ul class="back-list">
            <li class="back-item"></li>
            <li class="back-item active"></li>
            <li class="back-item"></li>
        </ul>
    </div>
    <div class="back-input">
        <form id="password">
            <input readonly class="pass" type="password" maxlength="1" value="">
            <input readonly class="pass" type="password" maxlength="1" value="">
            <input readonly class="pass" type="password" maxlength="1" value="">
            <input readonly class="pass" type="password" maxlength="1" value="">
            <input readonly class="pass" type="password" maxlength="1" value="">
            <input readonly class="pass pass_right" type="password" maxlength="1" value="">
        </form>
    </div>
    <div class="key-title">
        <h1>输入支付密码完成支付</h1>
        <p>Enter the payment password to complete the payment</p>
    </div>
    <div class="back-key"></div>
    <div class="alert-paynot alert" style="display: none;">
        <div class="paynot-con">
            <div class="close"></div>
            <div class="sad"></div>
            <h2 class="pay-title"></h2>
            <h3 class="pay-title-two"></h3>
            <div class="border"></div>
            <div class="info">恭喜获得一张<span>10</span>元优惠券</div>
            <a href="" id="button"></a>
        </div>
    </div>
</body>
<script type="text/javascript" src="/Static/Js/jquery.min.js"></script>
<script type="text/javascript" src="/Static/Js/ladingPasswordConfirm.js"></script>

</html>
