<?php include 'header.html'?>
<div class="show">
    <div class="qq-accredit">
        <div class="qq-drop">
            <div class="qq-logo">
                <span class="icon-QQ"></span>
            </div>
        </div>
            <div class="hint-message">
                <div class="fig-header"><span></span></div>
                <div class="fig-content">
                    <h3>lattetravel ( 7568958522 )</h3>
                    <span>您已对该应用授权</span>
                </div>
            </div>
    </div>
    <div class="open-btn">
        <div class="open-journey">
            <a href="<?php echo '/index'?>" class="submit"></a>
        </div>

    </div>

</div>
<?php include 'footer.html'?>