<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	   <?php include VIEW.'template/meat.html'?>
	<title>聊天</title>
	<link rel="stylesheet" href="<?php echo CSS_PATH?>base.css">
	<link rel="stylesheet" href="<?php echo CSS_PATH?>zxb/chat-add.css">
</head>
<body>
	<div class="head">
		<a href="" class="return"></a>
		<a href="" class="more"></a>
		<h3>Mordilattetravel</h3>
	</div>
	<ul class="chat_box">
		<li>
			<div class="header"></div>
			<div class="con"></div>
		</li>
		<li>
			<div class="header"></div>
			<div class="con"></div>
			<div class="wait"></div>
		</li>
		<li>
			<div class="header"></div>
			<div class="con"></div>
		</li>
		<li>
			<div class="header"></div>
			<div class="con"></div>
		</li>
		<li>
			<div class="header"></div>
			<div class="con"></div>
		</li>
		<li>
			<div class="header"></div>
			<div class="con"></div>
		</li>
	</ul>
	<div class="input_box">
		<a href="" class="switch-icon"></a>
		<input type="text">
		<a href="" class="voice"></a>
		<a href="" class="add"></a>
	</div>
	<div class="add_box">
		<a href="" class="icon"><span>拍摄</span></a>
		<a href="" class="icon"><span>相册</span></a>
		<a href="" class="icon"><span>视频</span></a>
		<a href="" class="icon"><span>语音</span></a>
	</div>
</body>
</html>