<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="<?php echo CSS_PATH?>base.css">
	<link rel="stylesheet" href="<?php echo CSS_PATH?>coupon.css">
</head>
<body>
	<div class="head">
		<a href="" class="return"></a>
		<h3>优惠卡券<br><span>Discount card</span></h3>
	</div>
	<div class="con">
		<div class="coupon">
			<div class="warp">
				<div class="left">
					<div class="ljq"></div>
					<p>200<span>元</span></p>
				</div>
				<div class="right">
					<h2>旅游，邮轮</h2>
					<p>邮轮优惠券立减200元/单<br>2017-03-01至2017-05-01</p>
					<a href="" class="down"></a>
				</div>
			</div>
			<a href="" class="btn">
				立即使用
				<div class="left"></div>
				<div class="right"></div>				
			</a>
		</div>
		<div class="coupon">
			<div class="warp">
				<div class="left">
					<div class="ljq"></div>
					<p>500<span>元</span></p>
				</div>
				<div class="right">
					<h2>旅游，邮轮</h2>
					<p>邮轮优惠券立减500元/单<br>2017-04-15至2017-05-15</p>
					<a href="" class="down"></a>
				</div>
			</div>
			<a href="" class="btn">
				立即使用
				<div class="left"></div>
				<div class="right"></div>
			</a>
		</div>
		<div class="coupon">
			<div class="warp">
				<div class="left">
					<div class="ljq"></div>
					<p>800<span>元</span></p>
				</div>
				<div class="right">
					<h2>旅游，邮轮</h2>
					<p>邮轮优惠券立减800元/单<br>2017-08-01至2017-09-01</p>
					<a href="" class="down"></a>
				</div>
			</div>
			<a href="" class="btn">
				立即使用
				<div class="left"></div>
				<div class="right"></div>
			</a>
		</div>
	</div>
</body>
</html>