<!-- 添加 favicon icon -->
<?php include VIEW.'template/meat.html'?>
<!-- 静止缩放-->
<title>个人中心</title>
<link rel="stylesheet" href="<?php echo CSS_PATH?>myset.css">
</head>

<body>
    <!--公共头部-->
    <header>
        <div class="return icon-return" onclick=" window.history.back()"></div>
        <div class="text">
            <h2>个人设置</h2>
            <span>Personal Setting</span>
        </div>
        <div class="share"></div>
    </header>
    <main>
        <ul class="main-list">
            <form action="/index.php/personal/set_updata" method="post" name="form1" id="form1"  enctype="multipart/form-data">
                <label for="avatar"><li class="main-item  circle">
                    <div class="main-con-left">头像</div>
                    <div class="main-con-right">
                        <div class="main-con-img">
                            <img src="<?php echo $login['avatar']?>" alt="">
                        </div>
                        <div class="relate icon-return"></div>
                    </div>
                </li></label>
                <input type="hidden" name="avatar" value="<?php echo $login['avatar']?>">
                <input type="file" name="file" id="avatar" style="display:none" accept="image/*" onChange="UploadFile();">
            </form>

            <form action="/index.php/personal/set_updata1" method="post" name="form2" id="form2"  enctype="multipart/form-data">
                <label for="background"><li class="main-item">
                    <div class="main-con-left">个人主页背景</div>
                    <div class="main-con-right">
                        <div class="main-con-img">
                            <img src="<?php echo $login['background']?>" alt="">
                        </div>
                        <div class="relate icon-return"></div>
                    </div>
                </li></label>
                <input type="hidden" name="avatar" value="<?php echo $login['background']?>">
                <input type="file" name="file" id="background" style="display: none" accept="image/*" onChange="UploadFile();">
            </form>

            <li class="main-item" data-name="name">
                    <div class="main-con-left">昵称</div>
                    <div class="main-con-right">
                        <p><?php echo $login['name']?></p>
                    </div>
                </li>
            <li class="main-item" >
                <!--data-name="sex_id"-->
                <div class="main-con-left">性别</div>
                <div class="main-con-right">
                    <p>男</p>
                </div>
            </li>
            <li class="main-item">
                <div class="main-con-left">二维码名片</div>
                <div class="main-con-right ">
                    <div class="main-con-img " id="app">
                        <img src="/Static/Imgs/h-set.png" alt="">
                    </div>
                    <!--<div class="relate icon-return"></div>-->
                </div>
            </li>
        </ul>
        <ul class="main-list" >
            <li class="main-item  circle" data-name='birthday'>
                <div class="main-con-left">生日</div>
                <div class="main-con-right">
                    <p><?php echo $login['birthday']?></p>
                </div>
            </li>
            <li class="main-item" data-name='district'>
                <div class="main-con-left">地区</div>
                <div class="main-con-right">
                    <p><?php echo $login['district']?></p>
                </div>
            </li>
        </ul>
        <ul class="main-list">
            <li class="main-item  circle" data-name='info'>
                <div class="main-con-left">个性签名</div>
                <div class="main-con-right">
                    <p><?php echo $login['info']?></p>
                </div>
            </li>
        </ul>
    </main>
</body>
<script language="JavaScript" type="text/JavaScript">
    $(function () {
        function UploadFile(){
            if($('#avatar').val()!="")
            {
                document.getElementById("form1").submit();
            }else

            if($('#background').val()!="")
            {
                document.getElementById("form2").submit();
            }
        }
        var list = $('');
        var flag = true;
        $('.main-item').on('click','.main-con-right',function () {
            $list=$(this).parent().attr('data-name');
            if(flag){
                flag = false;
                $data=$(this).find('p').text();
                $(this).find('p').remove();
                $('<input>').val($data).appendTo($(this)).focus().blur(function () {
                    $item =$(this).val();
                    $('<p>').text($item).appendTo($(this).parent())
                    $.get('/index.php/personal/set_name',{name: $list,val:$item});
                    $(this).remove();
                    flag=true;
                });
            }
            return false;
        })
    })
</script>

