<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>系统设置</title>
	<link rel="stylesheet" href="<?php echo CSS_PATH?>base.css">
	<link rel="stylesheet" href="<?php echo CSS_PATH?>zxb/setting.css">
</head>
<body>
	<div class="head">
		<a href="" class="return" onclick=" window.history.back()"></a>
		<a href="" class="exit"></a>
		<h3>系统设置<br><span>System setting</span></h3>
	</div>
	<div class="page">
		<ul class="total">
			<li>
				<p>省流量浏览<br><span>开启后，非wifi环境下省略或缩小图片</span></p>
				<a href="" class="btn">
					<div class="state"></div>
				</a>
			</li>
			<li>
				<p>零流量升级<br><span>开启后，wifi下会自动下载最新版本安装包</span></p>
				<a href="" class="btn">
					<div class="state"></div>
				</a>
			</li>
			<li>
				<p>推送消息<br><span>精选优惠、活动类消息</span></p>
				<a href="" class="btn">
					<div class="state"></div>
				</a>
			</li>
			<li class="del">
				<a href="">清除缓存(89.30MB)</a>
			</li>
		</ul>
		<a href="" class="about">
			<span>关于心程</span>
			<i></i>
			<em>1.0.0</em>
		</a>
	</div>
</body>
</html>