
<!--头部信息-->
<div class="banner" id="banner">
    <div class="background">
        <img src="/Static/Imgs/h-background.jpg" alt="">
    </div>
    <div class="banner-con">
        <div class="avatar">
            <a href="/index.php/personal/myset">
                <img src="/Static/Imgs/h-touxiang.png" alt="">
            </a>
            <div class="set-img icon-editor"></div>
        </div>
        <div class="quality">
            <a href="/index.php/personal/myset">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </a>
        </div>
        <p class="name"><a href="/index.php/personal/myset">Lambert</a></p>
        <p class="info"><a href="/index.php/personal/myset">人生没有如果，只有结果，不辜负自己，好好努力</a></p>
    </div>
</div>