<!--头部信息-->
<div class="banner" id="banner">
    <div class="background">
        <img src="<?php echo $login['background']?>" alt="">
    </div>
    <div class="banner-con">
        <div class="avatar">
            <a href="/index.php/personal/myset">
                <img src="<?php echo $login['avatar']?>" alt="">
            </a>
            <div class="set-img icon-editor"></div>
        </div>
        <div class="quality">
            <a href="/index.php/personal/myset">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </a>
        </div>
        <p class="name"><a href="/index.php/personal/myset"><?php echo $login['name']?></a></p>
        <p class="info"><a href="/index.php/personal/myset"><?php echo $login['info']?></a></p>
    </div>
</div>