<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>租车服务</title>
    <link rel="stylesheet" href="/Static/Css/base.css">
    <link rel="stylesheet" href="/Static/Css/cart.css">
</head>

<body>
    <header>
        <div class="return icon-return"></div>
        <div class="text">
            <h2>租车服务</h2>
            <span>CAR RENTAL</span>
        </div>
        <div class="icon-share">
        </div>
    </header>
    <div class="cartlist-wrap">
        <ul class="cartlist">
            <li>
                <a href="/App/views/car/cartdetailed.html">
                    <div class="cart"><img src="/Static/Imgs/cart/cart_l_1.png" alt=""></div>
                    <div class="cart-info">
                        <div class="title">
                            <h6>保时捷</h6>
                            <span><i class="icon-location"></i>630m</span>
                        </div>
                        <div class="user">
                            <img src="/Static/Imgs/cart/cart_u_1.png" alt="">
                            <span class="num">晋A88888</span>
                        </div>
                    </div>
                    <div class="opt">
                        <div class="tel">
                            <i class="icon-mobile"></i>
                        </div>
                        <div class="star">
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="/App/views/car/cartdetailed.html">
                    <div class="cart"><img src="/Static/Imgs/cart/cart_l_1.png" alt=""></div>
                    <div class="cart-info">
                        <div class="title">
                            <h6>保时捷</h6>
                            <span><i class="icon-location"></i>630m</span>
                        </div>
                        <div class="user">
                            <img src="/Static/Imgs/cart/cart_u_1.png" alt="">
                            <span class="num">晋A88888</span>
                        </div>
                    </div>
                    <div class="opt">
                        <div class="tel">
                            <i class="icon-mobile"></i>
                        </div>
                        <div class="star">
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <footer class="foot">
        <a href="javascript:;" class="btn">
            <span class="icon-home"></span>
            <i>首页</i>
        </a>
        <a href="javascript:;" class="btn hot">
            <span class="icon-taxi"></span>
            <i>租车</i>
        </a>
        <a href="javascript:;" class="btn">
            <span class="icon-syslog"></span>
            <i>日志</i>
        </a>
        <a href="javascript:;" class="btn">
            <span class="icon-login"></span>
            <i>我的</i>
        </a>
    </footer>
</body>

</html>