<?php include VIEW.'template/meat.html'?>
<title>租车服务</title>
<link rel="stylesheet" href="<?php echo CSS_PATH?>cart.css">
</head>

<body>
    <?php include VIEW.'template/header.html'?>
    <div class="cartlist-wrap" style="margin-top: 1rem;">
        <ul class="cartlist">
            <li>
                <a href="/index.php/car/detailed">
                    <div class="cart"><img src="/Static/Imgs/cart/cart_l_1.png" alt=""></div>
                    <div class="cart-info">
                        <div class="title">
                            <h6>保时捷</h6>
                            <span><i class="icon-location"></i>630m</span>
                        </div>
                        <div class="user">
                            <img src="/Static/Imgs/cart/cart_u_1.png" alt="">
                            <span class="num">晋A88888</span>
                        </div>
                    </div>
                    <div class="opt">
                        <div class="tel">
                            <i class="icon-mobile"></i>
                        </div>
                        <div class="star">
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="/index.php/car/detailed">
                    <div class="cart"><img src="/Static/Imgs/cart/cart_l_1.png" alt=""></div>
                    <div class="cart-info">
                        <div class="title">
                            <h6>保时捷</h6>
                            <span><i class="icon-location"></i>630m</span>
                        </div>
                        <div class="user">
                            <img src="/Static/Imgs/cart/cart_u_1.png" alt="">
                            <span class="num">晋A88888</span>
                        </div>
                    </div>
                    <div class="opt">
                        <div class="tel">
                            <i class="icon-mobile"></i>
                        </div>
                        <div class="star">
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <?php include VIEW.'template/footer.html'?>
</body>

</html>
