<?php include VIEW.'template/meat.html'?>
<link rel="stylesheet" href="<?php echo CSS_PATH?>cart.css">
<title>租车详情</title>
</head>

<body>
    <link rel="stylesheet" href="/Static/Css/indexcss/swiper.min.css">
    <?php include VIEW.'template/header.html'?>
    <!--banner -->
    <div class="banner-wrap" style="margin-top: .88rem;">
        <div class="banner">
            <!--  <img src="/Static/Imgs/cart/cart-1.png" alt=""> -->
            <div class="swiper-container swiper-container-horizontal" style="width: 100%;height: 100%;">
                <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-1500px, 0px, 0px);">
                    <img src="<?php echo $data[0]['b_o']?>" class="swiper-slide">
                    <img src="<?php echo $data[0]['b_t']?>" class="swiper-slide">
                    <img src="<?php echo $data[0]['b_f']?>" class="swiper-slide">
                </div>
            </div>
        </div>
    </div>
    <!--信息内容-->
    <main class="text">
        <div class="title">
            <h3><?php echo $data[0]['d_title']?></h3>
            <span><?php echo $data[0]['e_title']?></span>
        </div>
        <p><?php echo $data[0]['d_decs']?></p>
        <div class="price">
            <span>RMB:</span>
            <b><?php echo $data[0]['price']?></b>
            <span>/日</span>
        </div>
    </main>
    <!--选项内容-->
    <main class="select">
        <div class="time">
            <span>取车归还日期：</span>
            <span id="time">
                <i></i>
            </span>
        </div>
        <div class="place">
            <span>取车地点：</span>
            <span><?php echo $data[0]['place']?></span>
        </div>
        <div class="date">
            <span>租用时长：</span>
            <p><?php echo $data[0]['duration']?>日</p>
        </div>
        <div class="price">
            <span>支付金额：</span>
            <p>
                <span>RMB：</span>
                <b><?php echo $data[0]['price']?></b>
            </p>
        </div>
    </main>
    <!--支付相关 -->
    <footer></footer>
    <footer class="pay">
        <a href="javascript:;" class="pay-face">
            <i class="icon-pay"></i>
            <div class="text">
                <h6>当面支付</h6>
                <p>Payment</p>
            </div>
        </a>
        <a href="/index.php/pay/order?payid=<?php echo $data[0]['id']?>" class="pay-settle">
            <i class="icon-shopping"></i>
            <div class="text">
                <h6>去结算</h6>
                <p>Buy now</p>
            </div>
        </a>
    </footer>
</body>
<script type="text/javascript">
var swiper = new Swiper('.swiper-container', {
    loop: true,
});
// 获取当前时间
function show() {
    var mydate = new Date();
    var str = "" + mydate.getFullYear() + "年";
    str += (mydate.getMonth() + 1) + "月";
    str += mydate.getDate() + "日";
    return str;
}
// 选择时间相关
$('#time i').html(show());
$('#time').on('click', "i", function() {
    $(this).empty();
    $('<input type="date" name="" id="date" style="z-index: 999;">').appendTo($('#time'));
    $("#date").on('change', function() {
        var arr = $(this).val().split('-');
        var text = arr[0]+"年"+arr[1]+"月"+arr[2]+"日";
        $(this).remove();
        $('#time i').html(text);
    })
});
</script>

</html>
